footer.footer
    .container
        .row
            //- .col-md-6.author-content ©&nbsp;
                |<script>document.write((new Date().getFullYear()))</script>
                |&nbsp;design by&nbsp;
                b Tuan Trinh
            .col-md-6.author-content © 
                | Made with a billion neurons in HCMC, VN
                //- | Made by&nbsp;
                //- b Tuan Trinh
            .col-md-6
                ul.social-list
                    each icon, index in socialIcon
                        li
                            a(href=socialLink[index] target="_blank").btn.btn-just-icon.btn-ghost-brand
                                i(class=`ri-${icon}-fill`)