footer.footer
    .container
        .row
            .col-md-6.author-content © <script>document.write((new Date().getFullYear()))</script> Tuan Trinh
            .col-md-6
                ul.social-list
                    each icon, index in socialIcon
                        li
                            a(href=socialLink[index] target="_blank").btn-just-icon.btn-brand
                                i(class=`ri-${icon}-fill`)