-
	let navigationMenu = {
		title: ['Home', 'Work', 'Profile', 'Contact'],
		url: ['.section-banner', '.section-work', '.section-profile', '.section-contact'],
	}
	let socialIcon = ['linkedin-box', 'behance', 'dribbble', 'github']
.header.is-sticky
	.container
		.navigation-menu
			ul
				li.logo
					a(href=".section-banner")
						img(src="assets/images/logo.svg", alt="TGT Logo")
				each item, index in navigationMenu.title
					li
						a(href=navigationMenu.url[index] data-offset-top="90")= navigationMenu.title[index]
			ul.social-list
				- let socialLink = ['https://www.linkedin.com/in/tgt95', 'https://www.behance.net/tgt95', 'https://dribbble.com/tgt95', 'https://github.com/tgt95']
				each icon, index in socialIcon
					li
						a(href=socialLink[index]).btn-just-icon.btn-brand
							i(class=`ri-${icon}-fill`)