-
	let navigationMenu = {
		title: [
				//- 'Home', 
				'Profile',
				'Work', 
				'Resume'
			],
		url: [
			//- '.section-banner', 
			'.section-profile', 
			'.section-work', 
			'.section-contact'
			],
	}
	let socialIcon = ['linkedin-box', 'behance', 'dribbble', 'github']
header.header.is-sticky
	.container
		.navigation-menu
			ul
				li.logo
					a(href=".section-banner")
						img(src="assets/images/logo.svg", alt="TGT Logo")
				each item, index in navigationMenu.title
					li
						a(href=navigationMenu.url[index] data-offset-top="64")= navigationMenu.title[index]
			ul.social-list
				- let socialLink = ['https://www.linkedin.com/in/tgt95', 'https://www.behance.net/tgt95', 'https://dribbble.com/tgt95', 'https://github.com/tgt95']
				each icon, index in socialIcon
					li
						a(href=socialLink[index] target="_blank").btn.btn-just-icon.btn-ghost-brand
							i(class=`ri-${icon}-fill`)