doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name='theme-color', content='#ea5d5d' media="(prefers-color-scheme: light)")
		meta(name='theme-color', content='#ea5d5d' media="(prefers-color-scheme: dark)")
		//- embed(src="[MR-Inst]-Surfaces-Good-Day.mp3" autostart="true" loop="true" hidden="true" id="#bg-music")

		block meta-title
		
		//- Default image when paste social link
		meta(property="og:image" content="assets/images/og-image.jpg")
		meta(property="og:title" content="Trình Gia Tuấn | Senior Product Designer | UX/UI | Resume")
		meta(property="og:image:type" content="image/png")
		meta(property="og:image:width" content="1024")
		meta(property="og:image:height" content="1024")
		//- Favicon
		link(rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon_io/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon_io/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon_io/favicon-16x16.png")
		link(rel="manifest" href="assets/images/favicon_io/site.webmanifest")
		


		//- Bootstrap
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-grid.min.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-reboot.min.css")

		//- Animate CSS
		link(rel="stylesheet" type="text/css" href="assets/plugins/animate.css/animate.min.css")

		//- Icons
		link(rel="stylesheet" type="text/css" href="assets/plugins/remixicon/fonts/remixicon.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/phosphor/style.css")
		//- Swiper
		link(rel="stylesheet" type="text/css" href="assets/plugins/swiper/swiper-bundle.min.css")

		block page-css
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-79549330-2")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-79549330-2');
	
	style.

	body
		// Header
		-
			let navigationMenu = {
				title: [
						//- 'Home', 
						'Profile',
						'Work', 
						'Resume'
					],
				url: [
					//- '.section-banner', 
					'.section-profile', 
					'.section-work', 
					'.section-contact'
					],
			}
			let socialIcon = ['linkedin-box', 'behance', 'dribbble', 'github']
		header.header.is-sticky
			.container
				.navigation-menu
					ul
						li.logo
							a.disable-function(href="index.html")
								img(src="assets/images/logo.svg", alt="TGT Logo")
						//- each item, index in navigationMenu.title
							li
								a(href=navigationMenu.url[index] data-offset-top="88")= navigationMenu.title[index]
					ul.social-list
						- let socialLink = ['https://www.linkedin.com/in/tgt95', 'https://www.behance.net/tgt95', 'https://dribbble.com/tgt95', 'https://github.com/tgt95']
						each icon, index in socialIcon
							li
								a(href=socialLink[index] target="_blank").btn.btn-just-icon.btn-outline
									i(class=`ri-${icon}-fill`)
						li.theme-switch-action
							label.theme-switch
								input.theme-switch__checkbox(type='checkbox' checked)#mode-toggle
								.theme-switch__container
									.theme-switch__clouds
									.theme-switch__stars-container
										include svg/theme-toggle.svg
									.theme-switch__circle-container
										.theme-switch__sun-moon-container
											.theme-switch__moon
												.theme-switch__spot
												.theme-switch__spot
												.theme-switch__spot
		
		//- Profile
		section.section.section-404
			.container.content-wrapper
				.content-text
					.text-display-1.title(style='text-transform: uppercase') switched up!
					p.m-b-8
						| Tuan has switched to another site
						br
						b →  
						//- | -→  
						a.text-underline(href='https://idodesign.vercel.app/' style='text-decoration: underline; font-weight: var(--font-weight-bold); color: var(--fg-main);') https://idodesign.vercel.app/
						b  ←
						//- |  ←-
						//- br
						//- |  is wating for you
					a.btn.btn-primary(href='https://idodesign.vercel.app/' data-discover='true') View now

		// Footer
		include include/section/footer.pug


// Javascript
script(src="assets/js/helper.js")
script(src="assets/js/index.js")

script.
	//- Client side
	let theme = new Theme();

	if(detectMobile.isMobile) {
		document.body.classList.add('is-mobile');

		// Fix bug for use Navigation bottom
		document.body.style.paddingBottom = _getHeight(document.querySelector('.header')) + 'px';
		document.body.style.marginTop = 'var(--space-xl)';
	}

	// Window Onload
	document.addEventListener('DOMContentLoaded', e => {
		theme.loading();
		theme.appearanceOnTime();
	});

