-
	const varToString = varObj => Object.keys(varObj)[0];

// Data
-
	let webProjects = [
		{
			'title': 'Citigym - Hệ thống phòng tập đẳng cấp',
			'website': 'https://citigym.com.vn',
			'image': 'assets/images/projects/web/citigym.jpg',
			'fullImage': 'assets/images/projects/web/full/citigym.jpg',
		},
		{
			'title': 'Ayaka - Tả dành cho em bé đến Nhật bản',
			'website': 'https://ayakadiaper.com',
			'image': 'assets/images/projects/web/ayaka.jpg',
			'fullImage': 'assets/images/projects/web/full/ayaka.jpg',
		},
		{
			'title': 'Parimilk - Dinh dưỡng cao cấp cho mọi lứa tuổi',
			'website': 'https://www.parimilk.com',
			'image': 'assets/images/projects/web/parimilk.jpg',
			'fullImage': 'assets/images/projects/web/full/parimilk.jpg',
		},
		{
			'title': 'IFoss',
			'website': 'http://ifoss.com/',
			'image': 'assets/images/projects/web/ifoss.jpg',
			'fullImage': 'assets/images/projects/web/full/ifoss.jpg',
		},
		{
			'title': 'Chợ hoa tươi - Sàng bán hoa sỉ',
			'website': 'http://chohoatuoi.vn',
			'image': 'assets/images/projects/web/chohoatuoi.jpg',
			'fullImage': 'assets/images/projects/web/full/chohoatuoi.jpg',
		},
		{
			'title': '007 Flower - Bán hoa trực tuyến',
			'website': 'http://007flower.com',
			'image': 'assets/images/projects/web/007-flower.jpg',
			'fullImage': 'assets/images/projects/web/full/007-flower.jpg',
		},
		{
			'title': 'Khatoco Event',
			'website': 'https://thoitrangkhatoco.vn',
			'image': 'assets/images/projects/web/khatoco-event.jpg',
			'fullImage': 'assets/images/projects/web/full/khatoco-event.jpg',
		},
		{
			'title': 'Last Shoes',
			'website': 'http://lastshoes.com.au',
			'image': 'assets/images/projects/web/last-shoes.jpg',
			'fullImage': 'assets/images/projects/web/full/last-shoes.jpg',
		},
		{
			'title': 'News Concept',
			'website': '',
			'image': 'assets/images/projects/web/news.jpg',
			'fullImage': 'assets/images/projects/web/full/news.jpg',
		},
		{
			'title': 'Mango App',
			'website': 'http://mangoapp.vn',
			'image': 'assets/images/projects/web/mango.jpg',
			'fullImage': 'assets/images/projects/web/full/mango.jpg',
		},
		{
			'title': 'Edubot',
			'website': 'https://edubot.xbot.com.vn',
			'image': 'assets/images/projects/web/evbot.jpg',
			'fullImage': 'assets/images/projects/web/full/evbot.jpg',
		},
		{
			'title': 'Edubot Admin',
			'website': 'https://edubot.xbot.com.vn',
			'image': 'assets/images/projects/web/evbot-admin.jpg',
			'fullImage': 'assets/images/projects/web/full/evbot-admin.jpg',
		},
		{
			'title': 'Getraco',
			'website': '',
			'image': 'assets/images/projects/web/getraco.jpg',
			'fullImage': 'assets/images/projects/web/full/getraco.jpg',
		},
	]
	let mobileProjects = [
		{
			'title': 'Model Connect',
			'website': '',
			'image': 'assets/images/projects/mobile/model-app.jpg',
			'fullImage': 'assets/images/projects/mobile/full/model-app.jpg',
		},
		{
			'title': 'Mango App',
			'website': '',
			'image': 'assets/images/projects/mobile/mango-app.jpg',
			'fullImage': 'assets/images/projects/mobile/full/mango-app.jpg',
		},
	]
	let brandingProjects = [
		{
			'title': 'Nhà Ba Thu',
			'website': '',
			'image': 'assets/images/projects/branding/bathu.jpg',
			'fullImage': 'assets/images/projects/branding/bathu.jpg',
			//- 'fullImage': 'assets/images/projects/branding/full/bathu.jpg',
		},
		{
			'title': 'Molly Browns',
			'website': '',
			'image': 'assets/images/projects/branding/molly-browns.jpg',
			'fullImage': 'assets/images/projects/branding/molly-browns.jpg',
		},
		{
			'title': 'Last Shoes',
			'website': '',
			'image': 'assets/images/projects/branding/last-shoes.jpg',
			'fullImage': 'assets/images/projects/branding/last-shoes.jpg',
		},
		{
			'title': 'Lion',
			'website': '',
			'image': 'assets/images/projects/branding/lion.jpg',
			'fullImage': 'assets/images/projects/branding/lion.jpg',
		},
		{
			'title': 'Mango',
			'website': '',
			'image': 'assets/images/projects/branding/mango.jpg',
			'fullImage': 'assets/images/projects/branding/mango.jpg',
		},
		{
			'title': 'Long Việt Telecom',
			'website': '',
			'image': 'assets/images/projects/branding/long-viet-telecom.jpg',
			'fullImage': 'assets/images/projects/branding/long-viet-telecom.jpg',
		},
	]
	let illustrationProjects = [
		{
			'title': 'Deadline',
			'website': '',
			'image': 'assets/images/projects/illustration/deadline.jpg',
			'fullImage': 'assets/images/projects/illustration/full/deadline-full.jpg',
		},
		{
			'title': 'Saigon Never Sleep',
			'website': '',
			'image': 'assets/images/projects/illustration/sg-nl.jpg',
			'fullImage': 'assets/images/projects/illustration/sg-nl.jpg',
		},
		{
			'title': 'Designer Boy 1',
			'website': '',
			'image': 'assets/images/projects/illustration/designer-boy-1.jpg',
			'fullImage': 'assets/images/projects/illustration/full/designer-boy-1-full.jpg',
		},
		{
			'title': 'Designer Boy 2',
			'website': '',
			'image': 'assets/images/projects/illustration/designer-boy-2.jpg',
			'fullImage': 'assets/images/projects/illustration/full/designer-boy-2-full.jpg',
		},
	]