@use '../variables' as *;
@use '../utilities/main' as utils;

// Resume
.section-personal-info {
  &-container {
    background-color: var(--surface-3);
    border-radius: var(--radius-xl);
    box-shadow: 0 1px 24px 0px rgba(0, 0, 0, 0.03);
    border: 0.5px solid var(--border);
    padding: var(--space-md);
    background-image: radial-gradient(var(--bg-section-resume) 1.3px, transparent 1px);
    backdrop-filter: saturate(50%) blur(4px);
    background-size: 12px 12px;

    @media (min-width: 992px) {
      padding: var(--space-xl);
    }
  }

  &-header {
    @media (min-width: 992px) {
      display: flex;
    }

    &-left {
      @media (max-width: 991px) {
        margin-bottom: var(--space-md);
      }

      .avatar {
        position: relative;
        width: var(--space-xl-7);
        height: var(--space-xl-7);

        img {
          // max-width: var(--space-xl-7);
          border-radius: var(--radius-rounded);
          background-color: var(--bg-neutral);
          border: 1px solid var(--border);
          cursor: pointer;
        }

        @media (min-width: 992px) {
          margin-right: var(--space-md);
        }

        .badge {
          width: max-content;
          position: absolute;
          bottom: calc(var(--space-xs-3) + 6px * -1);
          left: 52%;
          transform: translateX(-50%) rotate(-4deg);
          box-shadow: var(--shadow-300);
          z-index: 1;

          &.open-to-work {
            border: 2px solid transparent;
            animation: border-angle-rotate 2s infinite linear;
            background:
              linear-gradient(var(--badge-bg-success), var(--surface-3)) padding-box,
              conic-gradient(from var(--border-angle), var(--badge-border-success) 50%, var(--surface-3)) border-box;
          }
        }
      }
    }

    &-right {
      .name {
        @include utils.text-heading(4);

        @media (min-width: 992px) {
          @include utils.text-heading(3);
        }

      }

      .role {
        color: var(--fg-subtlest);

        @media (min-width: 992px) {
          @include utils.text-body(lg);
        }

      }

      .description {
        font-size: var(--body-font-size-lg);
        margin-bottom: var(--space-sm);
      }

      .actions {
        .btn:not(:last-child) {
          margin-bottom: var(--space-xs-2);

          @media (min-width: 576px) {
            margin-right: var(--space-xs-2);
          }

        }
      }
    }
  }

  .divider {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  .group-title {
    @media (min-width: 992px) {
      @include utils.text-heading(3);
    }

    @include utils.text-heading(4);
    margin-bottom: var(--space-md);
  }

  &-body {
    .timeline-content {
      .date-range {
        color: var(--fg-subtlest);

        @media (min-width: 992px) {
          @include utils.text-body(lg);
        }
      }

      .job-title {
        @media (min-width: 992px) {
          @include utils.text-heading(6);
        }

        @include utils.text-body(lg);
        font-weight: var(--font-weight-semibold);
      }

      .company-name {
        font-weight: var(--font-weight-medium);
      }

      ul {
        &.description {
          margin-top: var(--space-xs-2);
          padding-left: var(--space-xl-5);

          li {
            @media (min-width: 992px) {
              @include utils.text-body(lg);
            }

            &:not(:last-child) {
              margin-bottom: var(--space-xs-3);
            }
          }
        }
      }

      .milestone {
        &:not(:last-child) {
          margin-bottom: var(--space-md);
        }

        &-header {
          @include utils.flex-center-y;

          &-left {
            margin-right: var(--space-xs);

            .logo {
              width: var(--space-xl-2);
              height: var(--space-xl-2);
              border-radius: var(--radius-xs);
              border: 0.5px solid var(--border);
              background-color: var(--bg-neutral);
            }
          }
        }

        &.milestone-start,
        &.milestone-mid {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: var(--space-md);
            top: 56px;
            bottom: 0;
            width: 0.5px;
            height: calc(100% - 56px + 18px);
            background-color: var(--border);
          }
        }

        &.milestone-end,
        &.milestone-mid {
          .milestone-header {
            &-left {
              .logo {
                background-color: transparent;
                @include utils.flex-center;
                border-width: 0;

                .dot {
                  position: relative;
                  width: var(--space-md);
                  height: var(--space-md);
                  border-radius: var(--radius-rounded);
                  border: 0.5px solid var(--border-strong);
                  background-color: rgba($neutral-200, 0.1);

                  &::before {
                    content: '';
                    position: absolute;
                    left: var(--space-xs-2);
                    right: var(--space-xs-2);
                    top: var(--space-xs-2);
                    bottom: var(--space-xs-2);
                    border-radius: var(--radius-rounded);
                    background-color: var(--fg-disabled);
                  }
                }
              }
            }
          }
        }
      }
    }

    &-experience {
      position: relative;

      @media (min-width: 768px) {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 1px;
          height: 100%;
          background-color: var(--border);
        }
      }

      @media (max-width: 767px) {
        margin-bottom: var(--space-lg);

        &::before {
          content: '';
          position: absolute;
          left: var(--space-sm);
          right: var(--space-sm);
          bottom: 0;
          width: calc(100% - var(--space-sm) * 2);
          height: 1px;
          background-color: var(--border);
        }
      }
    }

    .profile-content {
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
          display: flex;
          flex-wrap: wrap;

          .text-wrapper {
            @include utils.flex-center-y;

            @media (min-width: 992px) {
              font-size: var(--body-font-size-lg);
            }

            .icon {
              width: var(--ui-size-sm);
              height: var(--ui-size-sm);
              font-size: 20px;
              margin-right: var(--space-xs-2);
              background-color: var(--bg-neutral);
              border-radius: var(--radius-rounded);
              @include utils.flex-center;
            }

            .value {
              margin-right: var(--space-xs-3);
            }

            .value,
            &>i {
              line-height: var(--space-md);
            }
          }

          &:not(:last-child) {
            margin-bottom: var(--space-sm);
          }
        }
      }
    }
  }
}