.btn-just-icon{
    display: inline-block;
    width: $input-height-md;
    height: $input-height-md;
    border-radius: $border-theme;
    line-height: $input-height-md;
    text-align: center;
    i{
        font-size: 20px;
    }
    &.btn-brand{
        transition: color .3s ease, background-color .3s ease;
        color: $brand;
        &:hover{
            background-color: rgba($brand, .2);
        }
    }
}

.btn{
    transition: color .3s ease, border .3s ease, box-shadow .3s ease;
    >i{
        font-size: 18px;
        vertical-align: sub;
    }
}

.btn-brand{
    &:not(.btn-just-icon){
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        color: white;
        padding: 9.5px 16.8px;
        border-radius: $border-theme;
        background-color: $brand;
        text-decoration: none;
        transition: all .3s ease;
        &:hover, &:focus, &:active, &.active{
            color: white;
            text-decoration: none;
            background-color: darken($brand, 5%);
            box-shadow: 0 0 10.28px 1.72px rgba(black, .03);
        }
    }
}

.btn-secondary{
    &:not(.btn-just-icon){
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        color: $brand;
        padding: 9.5px 16.8px;
        border-radius: $border-theme;
        background-color: lighten($brand, 24%);
        text-decoration: none;
        transition: all .3s ease;
        &:hover, &:focus, &:active, &.active{
            color: white;
            text-decoration: none;
            background-color: $brand;
            box-shadow: 0 0 10.28px 1.72px rgba(black, .03);
        }
    }
}