.navigation-tabs{
    @include flex-center-y-between;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        ul{
            order: 1;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        li{
            &:not(:last-child){
                margin-right: $space-l;
            }
            a{
                font-size: $body-large;
                font-weight: 600;
                color: var(--fg-main);
                border-bottom: 2px solid transparent;
                transition: border .3s ease, color .3s ease;
                text-decoration: none;
            }
            &.active, &:hover{
                a{
                    color: $brand;
                    border-color: $brand;
                    text-decoration: none;
                }
            }
        }
    }
    .switch-view{
        border-radius: $radius-rounded;
        background-color: lighten($brand, 32%);
        a{
            @include btn;
            @include btn-md;
            color: $neutral-800;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                bottom: 0px;
                left: 50%;
                right: 0;
                width: 12px;
                height: 2px;
                transform: translateX(calc(-50% - 1px));
                background: transparent;
                transition: all .3s ease;
                border-radius: 8px;
            }
            &:first-child{
                &:after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    bottom: 0;
                    right: 0;
                    width: 1px;
                    transform: translateY(-50%);
                    height: calc(100% - 28px);
                    background: lighten($brand, 24%);
                    transition: all .3s ease;
                    border-radius: 8px;
                }
            }
            &:hover, &:focus, &:active, &.active{
                &:before{
                    background: $brand;
                }
                color: $brand;
                // border-bottom: 2px solid $brand;
            }
        }
        @media (max-width: 768px) {
            order: 0;
            width: 100%;
            margin-bottom: $space-s;
            a{
                &.btn-just-icon{
                    width: 50%;
                }
            }
        }
    }
}