.section{
	margin-bottom: 120px;
	@media (max-width: 576px) {
		margin-bottom: 60px;
	}
	&-heading{
		@extend .m-b-8;
	}
	&-title{
		font-weight: 700;
		font-size: $h1;
		color: $brand;
		@media (max-width: 576px) {
			font-size: $h2;
		}
	}
	&-description{
		font-size: $body-large;
		color: $neutral-800;
	}
}

// Banner
.section-banner{
	position: relative;
	overflow-x: hidden;
	// // overflow-y: unset;
	// > .container > .row{
	// 	min-height: 900px;
	// }
	.content-text{
		z-index: 999;
		.title{
			font-size: $h1;
			font-weight: 700;
			color: $brand;
			@extend .m-b-8;
			@media (max-width: 576px) {
				font-size: $h2;
			}
			a{
				color: $brand;
				text-decoration: underline;
			}
		}
		@media (max-width: 1600px) and (min-width: 1080px){
			top: -10%;
		}
		@media (min-width: 992px) {
			p{
				font-size: $body-large;
				line-height: 28px;
			}
		}
	}
	.content-bg{
		position: absolute;
		right: 0;
		top: -10%;
		@media (min-width: 992px) {
			overflow: hidden;
		}
		@media (max-width: 991px) {
			position: static;
			// transform: translateY(-20%);
			// margin-top: -20%;
			svg{
				// width: 100%;
				// width: 800px;
				// height: 100%;
				// margin-left: -30%;
				
			}
		}
		@media (max-width: 576px) {
			// margin-top: -40%;
			// margin-top: -396px;
			overflow: unset;
			svg{
				// background: linear-gradient(180deg,#fff7f7 0,#ffc3bf 60%, #ffbab5 70%, #ffc4bf 80%,#fff 100%)
				background: linear-gradient(180deg,#fff7f7 0,#ffe7e5 86%,#fff 100%)
			}
			#human-bg{
				fill: transparent;
			}
			#Trees, #human-tree-2{
				display: none;
			}
		}
		@media (max-width: 414px) {
			// margin-top: -496px;
			svg{
				// margin-top: -128px;
			}
		}
	}
}


// Profile
.section-profile{
	.profile-content{
		ul{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			li{
				display: flex;
				flex-wrap: wrap;
				@media (min-width: 577px) and (max-width: 991px) {
					display: block;
				}
				.title{
					font-weight: 600;
					width: 100%;
					max-width: 156px;
					@media (max-width: 390px) {
						max-width: 132px;
					}
				}
				&:not(:last-child){
					margin-bottom: 24px;
				}
				&.divider{
					@media (min-width: 415px) {
						max-width: 344px;
					}
				}
				.personality-progress{
					// padding: 16px;
					// background-color: $neutral-100;
					// border: 1px solid $neutral-200;
					border-radius: $radius-xs;
					// display: inline-flex;
					width: 100%;
					// width: calc(100% - 156px);
					@media (min-width: 415px) {
						max-width: 344px;
						// width: calc(100% - 132px);
					}
					.holder{
						position: relative;
						width: 100%;
						height: 8px;
						background-color: $neutral-100;
						border-radius: $radius-rounded;
						@include flex-center-y;
						.emoji{
							font-size: 24px;
							line-height: 24px;
							transform: translateX(-8px);
							animation: personalityProgressText 1.5s ease infinite;
						}
					}
					.tracker{
						// position: absolute;
						// top: 50%;
						// left: 0;
						// transform: translateY(-50%);
						border-radius: $radius-rounded;
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
						width: 15%;
						height: 100%;
						background-color: $neutral-300;
						animation: personalityProgressTracker 3s ease infinite;
						// @include flex-center-y;
						// left: 50%;
						// transform: translate(-425%,-50%);
					}
					.label{
						b{
							font-weight: 600;
						}
						display: flex;
						justify-content: space-between;
						margin-bottom: $space-xs;
					}
				}
			}
		}
		a{
			color: $neutral-900;
		}
	}
	@media (max-width: 991px) {
		svg{
			width: 100%;
		}
	}
	@media (max-width: 576px) {
		.content-text{
			order: 0;
			margin-bottom: 32px;
		}
		.content-bg{
			order: 1;
		}
	}
}


// Skills
.section-skills{
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;
	&:before, &:after{
		position: absolute;
		content: '';
		width: 50%;
		height: 1px;
		background-color: $border-color;
	}
	&:before{
		top: 0;
		right: 0;
	}
	&:after{
		bottom: 0;
		left: 0;
	}
	.skills-content{
		.item{
			text-align: center;
			.icon{
				width: 128px;
				height: 128px;
				padding: 32px;
				border-radius: 50%;
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
				@include main-gradient;
				margin-bottom: 24px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					animation: line-blow-up 3s ease infinite;
					border-radius: 50%;
					border: 1px solid rgba($brand, .2);
				}
				img{
					width: 100%;
					// height: 100%;
					// object-fit: contain;
				}
			}
			.title{
				font-size: $h5;
				font-weight: 700;
			}
			@media (max-width: 576px) {
			    width: 50%;
			    .icon{
					width: 64px;
					height: 64px;
					margin-bottom: 16px;
					img{
					    width: 32px;
					}
				}
				.title{
					font-size: $h6;
				}
			}
		}
	}
	@media (max-width: 768px) {
		.skills-content{
			justify-content: center;
			.item{
				margin-bottom: 24px;
			}
		}
	}
	@media (max-width: 576px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

// Work
.section-work{
	.slide-wrapper{
		padding: 32px 0;
		transition: all .3s ease;
		&.row{
			width: initial;
			.item{
				margin-bottom: $space-l;
				max-width: 100% !important;
			}
		}
	}
	.swiper-controls{
		display: flex;
		.slide-button-prev, .slide-button-next{
			>i{
				font-size: 32px;
			}
			&.swiper-button-disabled{
				opacity: 0.5;
			}
		}
	}
	.item{
		width: 100%;
		transition: all .3s ease;
		&:not([class*="col-"]){
			max-width: 550px;
		}
		> .title{
			font-size: $body-large;
			font-weight: 600;
			margin-top: $space-xs;
		}
		> .url-link{
			[class^="ri-"], [class*=" ri-"]{
				font-size: $h5;
				vertical-align: middle;
			}
			.icon{
				margin-right: $space-3-xs;
			}
			a{
				color: $neutral-900;
				text-decoration: underline;
				transition: all .3s ease;
				&:hover{
					color: $brand;
				}
			}
		}
		> .item-thumbnail {
			box-shadow: $level-1;
			overflow: hidden;
			position: relative;
			border-radius: $radius-xs;
			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: calc(1024/1440) * 100%;
			}
			img{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.overlay-content{
				@include flex-center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba($brand, .8);
				transition: background-color .3s ease, visibility .3s ease, opacity .3s ease;
				visibility: hidden;
				opacity: 0;
				text-decoration: none;
				border-radius: $radius-xs;
				.icon{
					font-size: 64px;
					color: white;
				}
				.text{
					font-size: $body-large;
					font-weight: 600;
					color: white;
				}
			}
		}
		&:hover{
			.item-thumbnail{
				.overlay-content{
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	.swiper-container{
		animation: fadeIn .6s ease;
		overflow-x: hidden;
	}
	@media (max-width: 576px) {
		.navigation-tabs{
			ul{
				display: inline-flex;
				width: 100%;
				li{
					width: calc(50% - 24px);
					margin-right: 24px;
					margin-bottom: 16px;
				}
				li:first-child{
					width: 100%;
				}
			}
		}
	}
}

// Testimonials
.section-testimonials{
	padding-top: 120px;
	// // padding-bottom: 120px;
	position: relative;
	&:before{
		position: absolute;
		content: '';
		width: 100%;
		height: 1px;
		background-color: $border-color;
	}
	&:before{
		top: 0;
		right: 0;
	}
	&:after{
		bottom: 0;
		left: 0;
	}
	.testimonials-content{
		.icon-quotes{
			font-size: 56px;
		}
		.testimonials-description{
			font-size: $h5;
			line-height: 32px;
			@extend .m-b-6;
			@media (max-width: 576px) {
				font-size: $body-large;
				line-height: 24px;
			}
		}
		.testimonials-author{
			&-name{
				@include flex-center-y;
				font-size: $h6;
				font-weight: 600;
				margin-bottom: $space-4-xs;
				// line-height: 28px;
				> a{
					@include flex-center-y(inline-flex);
					color: $linkedin;
					font-size: $h6;
					vertical-align: sub;
					margin-left: $space-3-xs;
					transition: color .3s ease;
					&:hover{
						color: darken($linkedin, 16%);
						text-decoration: none;
					}
				}
			}
			&-role{
				color: $neutral-800;
			}
			&-avatar{
				width: 72px;
				height: 72px;
				border: 1px solid $border-color;
				border-radius: $radius-rounded;
				background-color: $neutral-100;
			}
			&-content{
				@include flex-center-y;
				@extend .m-b-9;
				&-left{
					margin-right: 16px;
				}
				&-right{
					
				}
			}
		}
	}
	.section-title{
		@extend .m-b-3;
	}
	.swiper-slide{
		// background: $neutral-100;
		// background: white;
		// padding: $space-m;
		// border-radius: $radius-xs;
		// border: 1px solid $border-color;
	}
}

// Swiper
.swiper-pagination-bullet-active{
	background: $brand;
}

@keyframes line-blow-up {
	0%{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	50%{
		top: -12%;
		left: -12%;
		bottom: -12%;
		right: -12%;
	}
	100%{
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// Contact
.section-contact{
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	@include main-gradient;
	.shape-wave{
		&-1, &-2{
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			z-index: 1;
		}
		&-1{
			top: 0;
		}
		&-2{
			bottom: -1px;
		}
	}
	.shape-tree{
		&-1, &-2{
			position: absolute;
			// width: 100%;
			bottom: 0;
			@media (max-width: 991px) {
				display: none;
			}
		}
		&-1{
			left: 0;
			width: 500px;
		}
		&-2{
			right: 0;
		}
	}
	.content-text{
		z-index: 999;
		.title{
			font-size: $h1;
			font-weight: 700;
			color: $brand;
			@extend .m-b-8;
			@media (max-width: 576px) {
				font-size: $h2;
			}
			a{
				color: $brand;
				text-decoration: underline;
			}
		}
		@media (min-width: 768px) {
			.actions{
				.btn +.btn{
					margin-left: $space-2-xs;
				}
			}
		}
		@media (max-width: 414px) {
			.actions{
				.btn{
					width: 100%;
					&:first-child{
						margin-bottom: $space-2-xs;
					}
				}
			}
		}
	}
	.content-bg{
		svg{
			margin: 0 auto;
		}
	}
	@media (max-width: 991px) {
		padding-top: 0;
		padding-bottom: 0;
		.content-bg{
			svg{
				width: 100%;
				height: 460px;
			}
		}
	}
	@media (max-width: 768px) {
		.content-bg{
			svg{
				width: 100%;
				height: 430px;
			}
		}
	}
	@media (max-width: 576px) {
		padding-top: 60px;
		overflow: hidden;
		.content-text{
			text-align: center;
		}
		.content-bg{
			svg{
				// width: 800px;
				// height: 400px;
				transform: translateY(50px);
			}
		}
	}
}