.section{
	margin-bottom: 120px;
	&-title{
		font-weight: 700;
		font-size: $h1;
		color: $brand;
		margin-bottom: 32px;
	}
}

.section-banner{
	position: relative;
	overflow-x: hidden;
	// // overflow-y: unset;
	// > .container > .row{
	// 	min-height: 900px;
	// }
	.content-text{
		.title{
			font-size: $h1;
			font-weight: 700;
			color: $brand;
			@extend .m-b-8;
			a{
				color: $brand;
				text-decoration: underline;
			}
		}
	}
	.content-bg{
		position: absolute;
		right: 0;
		top: -10%;
	}
}