.section {
	&:not(.has-background, .section-work, .section-blog, .section-contact) {
		margin-bottom: var(--section-margin-web);

		@media (max-width: 576px) {
			margin-bottom: var(--section-margin-mobile);
		}
	}

	&-heading {
		margin-bottom: var(--section-title-marign);
	}

	&-title {
		@include text-heading(1);
		color: var(--fg-brand);

		@media (max-width: 576px) {
			@include text-heading(2);
		}
	}

	&-description {
		font-size: var(--body-font-size-lg);
		color: var(--fg-subtle);
	}

	&.has-divider {
		padding-top: var(--section-margin-web);
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: var(--border-light);
		}

		&:before {
			top: 0;
			right: 0;
		}

		&:after {
			bottom: 0;
			left: 0;
		}
	}
}

// Banner
.section-banner {
	position: relative;
	overflow-x: hidden;

	.content-text {
		z-index: 999;

		.title {
			@include text-heading(1);
			color: var(--fg-brand);
			margin-bottom: var(--space-lg);

			@media (max-width: 576px) {
				@include text-heading(2);
			}

			a {
				color: var(--fg-brand);
				text-decoration: underline;
			}
		}

		@media (max-width: 1600px) and (min-width: 1080px) {
			top: -10%;
		}

		@media (min-width: 992px) {
			p {
				font-size: var(--body-font-size-lg);
				line-height: 28px;
			}
		}
	}

	.content-bg {
		position: absolute;
		right: 0;
		top: -10%;

		@media (min-width: 992px) {
			overflow: hidden;
		}

		@media (max-width: 991px) {
			position: static;

			// transform: translateY(-20%);
			// margin-top: -20%;
			svg {
				// width: 100%;
				// width: 800px;
				// height: 100%;
				// margin-left: -30%;

			}
		}

		@media (max-width: 576px) {
			// margin-top: -40%;
			// margin-top: -396px;
			overflow: unset;

			svg {
				// background: linear-gradient(180deg,#fff7f7 0,#ffc3bf 60%, #ffbab5 70%, #ffc4bf 80%,#fff 100%)
				background: linear-gradient(180deg, #fff7f7 0, #ffe7e5 86%, #fff 100%)
			}

			#human-bg {
				fill: transparent;
			}

			#Trees,
			#human-tree-2 {
				display: none;
			}
		}

		@media (max-width: 414px) {

			// margin-top: -496px;
			svg {
				// margin-top: -128px;
			}
		}
	}
}


// Profile
.section-profile {
	@media (max-width: 991px) {
		svg {
			width: 100%;
		}
	}

	@media (max-width: 576px) {
		.content-text {
			order: 0;
			margin-bottom: var(--space-lg);
		}

		.content-bg {
			order: 1;
		}
	}

	.profile-content {
		ul {
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				display: flex;
				flex-wrap: wrap;

				@media (min-width: 577px) and (max-width: 991px) {
					display: block;
				}

				.title {
					font-weight: var(--font-weight-semibold);
					width: 100%;
					max-width: 156px;

					@media (max-width: 390px) {
						max-width: 132px;
					}
				}

				&:not(:last-child) {
					margin-bottom: var(--space-md);
				}

				&.divider {
					@media (min-width: 415px) {
						max-width: 344px;
					}
				}

				&[data-type="email"],
				&[data-type="social"] {
					>.content {
						@include flex-center-y(inline-flex);

						a {
							text-decoration: underline;
							margin-right: var(--space-xs-3);
						}

						i {
							font-size: var(--heading-5);
						}
					}
				}

				.personality-progress {
					border-radius: var(--radius-xs);
					width: 100%;

					@media (min-width: 415px) {
						max-width: 344px;
					}

					.holder {
						position: relative;
						width: 100%;
						height: 8px;
						background-color: var(--bg-neutral);
						border-radius: var(--radius-rounded);
						@include flex-center-y;

						.emoji {
							font-size: var(--heading-4);
							line-height: 24px;
							transform: translateX(-8px);
							animation: personalityProgressText 1.5s ease infinite;
						}
					}

					.tracker {
						border-radius: var(--radius-rounded);
						border-bottom-right-radius: 0;
						border-top-right-radius: 0;
						width: 15%;
						height: 100%;
						background-color: $neutral-300;
						animation: personalityProgressTracker 3s ease infinite;
						// @include flex-center-y;
						// left: 50%;
						// transform: translate(-425%,-50%);
					}

					.label {
						b {
							font-weight: var(--font-weight-semibold);
						}

						display: flex;
						justify-content: space-between;
						margin-bottom: var(--space-xs);
					}
				}
			}
		}

		a {
			color: var(--fg-main);
		}
	}
}


// Skills
.section-skills {
	padding-top: var(--section-margin-web);
	padding-bottom: var(--section-margin-web);
	position: relative;

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 50%;
		height: 1px;
		background-color: var(--border-light);
	}

	&:before {
		top: 0;
		right: 0;
	}

	&:after {
		bottom: 0;
		left: 0;
	}

	.skills-content {
		.item {
			text-align: center;

			.icon {
				width: 128px;
				height: 128px;
				padding: var(--space-lg);
				border-radius: var(--radius-rounded);
				margin: 0 auto;
				display: flex;
				align-items: center;
				justify-content: center;
				@include main-gradient;
				margin-bottom: var(--space-md);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					animation: line-blow-up 3s ease infinite;
					border-radius: var(--radius-rounded);
					border: 1px solid rgba($brand, .2);
				}

				img {
					width: 100%;
					// height: 100%;
					// object-fit: contain;
				}
			}

			.title {
				@include text-heading(5);
			}

			@media (max-width: 576px) {
				width: 50%;

				.icon {
					width: 64px;
					height: 64px;
					margin-bottom: var(--space-sm);

					img {
						width: 32px;
					}
				}

				.title {
					@include text-heading(6);
				}
			}
		}
	}

	@media (max-width: 768px) {
		.skills-content {
			justify-content: center;

			.item {
				margin-bottom: var(--space-md);
			}
		}
	}

	@media (max-width: 576px) {
		padding-top: var(--section-margin-mobile);
		padding-bottom: var(--section-margin-mobile);
	}
}

// Work
.section-work {
	.slide-wrapper {
		padding: var(--space-lg) 0;
		transition: all .3s ease;

		&.row {
			width: initial;

			.item {
				max-width: 100% !important;

				&:not(:last-child) {
					margin-bottom: var(--space-lg);
				}
			}
		}
	}

	.swiper-controls {
		display: flex;

		.slide-button-prev,
		.slide-button-next {
			>i {
				font-size: var(--heading-2);
			}

			&.swiper-button-disabled {
				opacity: 0.5;
			}
		}
	}

	.item {
		width: 100%;
		transition: all .3s ease;

		&:not([class*="col-"]) {
			max-width: 550px;
		}

		>.title {
			font-size: var(--body-font-size-lg);
			font-weight: var(--font-weight-semibold);
			margin-top: var(--space-xs);
		}

		>.url-link {

			[class^="ri-"],
			[class*=" ri-"] {
				font-size: var(--heading-5);
				vertical-align: middle;
			}

			.icon {
				margin-right: var(--space-xs-3);
			}

			a {
				color: var(--fg-main);
				text-decoration: underline;
				transition: all .3s ease;

				&:hover {
					color: var(--fg-brand);
				}
			}
		}

		>.item-thumbnail {
			overflow: hidden;
			position: relative;
			border-radius: var(--radius-xs);
			border: 1px solid var(--border-light);

			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: calc(1024/1440) * 100%;
			}

			img {
				@include position;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .3s ease;
			}

			.overlay-content {
				@include flex-center;
				@include position;
				// background-color: rgba(var(--bg-brand), .8);
				background-color: rgba($brand, .8);
				transition: background-color .3s ease, visibility .3s ease, opacity .3s ease;
				visibility: hidden;
				opacity: 0;
				text-decoration: none;
				border-radius: var(--radius-xs);

				.icon {
					font-size: var(--display-2);
					color: var(--fg-inverse);
				}

				.text {
					font-size: var(--body-font-size-lg);
					font-weight: var(--font-weight-semibold);
					color: var(--fg-inverse);
				}
			}
		}

		&:hover {
			.item-thumbnail {
				box-shadow: var(--shadow-300);

				img {
					transform: scale(1.015);
				}

				.overlay-content {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}

	.swiper-container {
		animation: fadeIn .6s ease;
		overflow-x: hidden;
		margin-bottom: var(--space-lg);
	}

	@media (max-width: 576px) {
		.navigation-tabs {
			ul {
				display: inline-flex;
				width: 100%;

				li {
					width: calc(50% - 24px);
					margin-right: var(--space-md);
					margin-bottom: var(--space-sm);

					&:first-child {
						width: 100%;
					}
				}
			}
		}
	}
}

// Blog
.section-blog {
	background-image: radial-gradient(var(--neutral-100) 1.3px, transparent 1px);
	backdrop-filter: saturate(50%) blur(4px);
	background-size: 12px 12px;
	box-shadow: 0px 0px 40px 0.1px rgba(0, 0, 0, 0.04) inset;

	.item {
		transition: all .3s ease;
		margin-bottom: var(--space-lg);

		&:not([class*="col-"]) {
			max-width: 550px;
		}

		>.title {
			font-size: var(--body-font-size-lg);
			font-weight: var(--font-weight-semibold);
			margin-top: var(--space-xs);
		}

		>.url-link {

			[class^="ri-"],
			[class*=" ri-"] {
				font-size: var(--heading-5);
				vertical-align: middle;
			}

			.icon {
				margin-right: var(--space-xs-3);
			}

			a {
				color: var(--fg-main);
				text-decoration: underline;
				transition: all .3s ease;

				&:hover {
					color: var(--fg-brand);
				}
			}
		}

		>.item-thumbnail {
			overflow: hidden;
			position: relative;
			border-radius: var(--radius-xs);
			border: 1px solid var(--border-light);

			&:before {
				display: block;
				content: "";
				width: 100%;
				padding-top: calc(3/4) * 100%;
			}

			img {
				@include position;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .3s ease;
			}

			.overlay-content {
				@include flex-center;
				@include position;
				background-color: rgba($brand, .8);
				transition: background-color .3s ease, visibility .3s ease, opacity .3s ease;
				visibility: hidden;
				opacity: 0;
				text-decoration: none;
				border-radius: var(--radius-xs);

				.icon {
					font-size: var(--display-2);
					color: var(--fg-inverse);
				}

				.text {
					font-size: var(--body-font-size-lg);
					font-weight: var(--font-weight-semibold);
					color: var(--fg-inverse);
				}
			}
		}

		&:hover {
			.item-thumbnail {
				box-shadow: var(--shadow-300);

				img {
					transform: scale(1.015);
				}

				.overlay-content {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

// Testimonials
.section-testimonials {
	.testimonials-content {
		.icon-quotes {
			font-size: var(--space-xl-3);
		}

		.testimonials-description {
			font-size: var(--heading-5);
			line-height: 32px;
			margin-bottom: var(--space-md);

			@media (max-width: 576px) {
				font-size: var(--body-font-size-lg);
				line-height: 24px;
			}
		}

		.testimonials-author {
			&-name {
				@include flex-center-y;
				font-size: var(--heading-6);
				font-weight: var(--font-weight-semibold);
				margin-bottom: var(--space-xs-4);

				>a {
					@include flex-center-y(inline-flex);
					color: var(--linkedin);
					font-size: var(--heading-6);
					vertical-align: sub;
					margin-left: var(--space-xs-3);
					transition: color .3s ease;

					&:hover {
						color: darken($linkedin, 16%);
						text-decoration: none;
					}
				}
			}

			&-role {
				color: var(--fg-subtlest);
			}

			&-avatar {
				width: var(--space-xl-5);
				height: var(--space-xl-5);
				border: 1px solid var(--border-light);
				border-radius: var(--radius-rounded);
				background-color: var(--bg-neutral);
			}

			&-content {
				@include flex-center-y;
				margin-bottom: var(--space-xl);

				&-left {
					margin-right: var(--space-sm);
				}
			}
		}
	}
}

// Swiper
.swiper-pagination-bullet-active {
	background: var(--bg-brand);
}

@keyframes line-blow-up {
	0% {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	50% {
		top: -12%;
		left: -12%;
		bottom: -12%;
		right: -12%;
	}

	100% {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// Contact
.section-contact {
	padding-top: var(--space-xl-4);
	padding-bottom: var(--space-xl-4);
	position: relative;
	@include main-gradient;

	.shape-wave {

		&-1,
		&-2 {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			z-index: 1;
		}

		&-1 {
			top: 0;
		}

		&-2 {
			bottom: -1px;
		}
	}

	.shape-tree {

		&-1,
		&-2 {
			position: absolute;
			// width: 100%;
			bottom: 0;

			@media (max-width: 991px) {
				display: none;
			}
		}

		&-1 {
			left: 0;
			width: 500px;
		}

		&-2 {
			right: 0;
		}
	}

	.content-text {
		z-index: 999;

		.title {
			@include text-heading(1);
			color: var(--fg-brand);
			margin-bottom: var(--space-lg);

			@media (max-width: 576px) {
				@include text-heading(2);
			}

			a {
				color: var(--fg-brand);
				text-decoration: underline;
			}
		}

		@media (min-width: 768px) {
			.actions {
				.btn+.btn {
					margin-left: var(--space-xs-2);
				}
			}
		}

		@media (max-width: 414px) {
			.actions {
				.btn {
					width: 100%;

					&:first-child {
						margin-bottom: var(--space-xs-2);
					}
				}
			}
		}
	}

	.content-bg {
		svg {
			margin: 0 auto;
		}
	}

	@media (max-width: 991px) {
		padding-top: 0;
		padding-bottom: 0;

		.content-bg {
			svg {
				width: 100%;
				height: 460px;
			}
		}
	}

	@media (max-width: 768px) {
		.content-bg {
			svg {
				width: 100%;
				height: 430px;
			}
		}
	}

	@media (max-width: 576px) {
		padding-top: var(--section-margin-mobile);
		overflow: hidden;

		.content-text {
			text-align: center;
		}

		.content-bg {
			svg {
				// width: 800px;
				// height: 400px;
				transform: translateY(50px);
			}
		}
	}
}

// Resume
.section-personal-info {
	&-container {
		background-color: var(--surface-1);
		border-radius: var(--radius-xl);
		box-shadow: 0 1px 24px 0px rgba(0, 0, 0, 0.03);
		border: 0.5px solid var(--border-light);
		padding: var(--space-md);
		background-image: radial-gradient(var(--neutral-100) 1.3px, transparent 1px);
		backdrop-filter: saturate(50%) blur(4px);
		background-size: 12px 12px;

		@media (min-width: 992px) {
			padding: var(--space-xl);
		}
	}

	&-header {
		@media (min-width: 992px) {
			display: flex;
		}

		&-left {
			@media (max-width: 991px) {
				margin-bottom: var(--space-md);
			}

			.avatar {
				position: relative;
				width: var(--space-xl-7);
				height: var(--space-xl-7);

				img {
					// max-width: var(--space-xl-7);
					border-radius: var(--radius-rounded);
					background-color: var(--bg-neutral);
					border: 1px solid var(--border-light);
					cursor: pointer;
				}

				@media (min-width: 992px) {
					margin-right: var(--space-md);
				}

				.badge {
					width: max-content;
					position: absolute;
					// bottom: calc(var(--space-xs-3) * -1);
					// left: 50%;
					// transform: translateX(-50%);
					bottom: calc(var(--space-xs-3) + 6px * -1);
					left: 52%;
					transform: translateX(-50%) rotate(-4deg);
					box-shadow: var(--shadow-300);
					z-index: 1;

					&.open-to-work {
						border: 2px solid transparent;
						animation: border-angle-rotate 2s infinite linear;
						background: linear-gradient(var(--badge-bg-success), white) padding-box,
							conic-gradient(from var(--border-angle),
								var(--badge-border-success) 50%,
								white) border-box;
					}
				}
			}
		}

		&-right {
			.name {
				@media (min-width: 992px) {
					@include text-heading(3);
				}

				@include text-heading(4);
			}

			.role {
				@media (min-width: 992px) {
					@include text-body(lg);
				}

				color: var(--fg-subtlest);
			}

			.description {
				font-size: var(--body-font-size-lg);
				margin-bottom: var(--space-sm);
			}

			.actions {
				.btn:not(:last-child) {
					@media (min-width: 576px) {
						margin-right: var(--space-xs-2);
					}

					margin-bottom: var(--space-xs-2);
				}
			}
		}
	}

	.divider {
		margin-top: var(--space-lg);
		margin-bottom: var(--space-lg);
	}

	.group-title {
		@media (min-width: 992px) {
			@include text-heading(3);
		}

		@include text-heading(4);
		margin-bottom: var(--space-md);
	}

	&-body {
		.timeline-content {
			.date-range {
				color: var(--fg-subtlest);

				@media (min-width: 992px) {
					@include text-body(lg);
				}
			}

			.job-title {
				@media (min-width: 992px) {
					@include text-heading(6);
				}

				@include text-body(lg);
				font-weight: var(--font-weight-semibold);
			}

			.company-name {
				font-weight: var(--font-weight-medium);
			}

			ul {
				&.description {
					margin-top: var(--space-xs-2);
					padding-left: var(--space-xl-5);

					li {
						@media (min-width: 992px) {
							@include text-body(lg);
						}

						&:not(:last-child) {
							margin-bottom: var(--space-xs-3);
						}
					}
				}
			}

			.milestone {
				&:not(:last-child) {
					margin-bottom: var(--space-md);
				}

				&-header {
					@include flex-center-y;

					&-left {
						margin-right: var(--space-xs);

						.logo {
							width: var(--space-xl-2);
							height: var(--space-xl-2);
							border-radius: var(--radius-xs);
							border: .5px solid var(--border-light);
							background-color: var(--bg-neutral);
						}
					}
				}

				&.milestone-start,
				&.milestone-mid {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: var(--space-md);
						top: 56px;
						bottom: 0;
						width: .5px;
						height: calc(100% - 56px + 18px);
						background-color: var(--border-light);
					}
				}

				&.milestone-end,
				&.milestone-mid {
					.milestone-header {
						&-left {
							.logo {
								background-color: transparent;
								@include flex-center;
								border-width: 0;

								.dot {
									position: relative;
									width: var(--space-md);
									height: var(--space-md);
									border-radius: var(--radius-rounded);
									border: .5px solid var(--border-strong);
									background-color: rgba($neutral-200, .1);

									&::before {
										content: '';
										position: absolute;
										left: var(--space-xs-2);
										right: var(--space-xs-2);
										top: var(--space-xs-2);
										bottom: var(--space-xs-2);
										border-radius: var(--radius-rounded);
										background-color: var(--fg-disabled);
									}
								}
							}
						}
					}
				}
			}
		}

		&-experience {
			position: relative;

			@media (min-width: 768px) {
				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					width: 1px;
					height: 100%;
					background-color: var(--border-light);
				}
			}

			@media (max-width: 767px) {
				margin-bottom: var(--space-lg);

				&::before {
					content: '';
					position: absolute;
					left: var(--space-sm);
					right: var(--space-sm);
					bottom: 0;
					width: calc(100% - var(--space-sm) *2);
					height: 1px;
					background-color: var(--border-light);
				}
			}
		}

		.profile-content {
			ul {
				list-style-type: none;
				padding-left: 0;
				margin-bottom: 0;

				li {
					display: flex;
					flex-wrap: wrap;

					.text-wrapper {
						@include flex-center-y;

						@media (min-width: 992px) {
							font-size: var(--body-font-size-lg);
						}

						.icon {
							width: var(--ui-size-sm);
							height: var(--ui-size-sm);
							font-size: 20px;
							margin-right: var(--space-xs-2);
							background-color: var(--bg-neutral);
							border-radius: var(--radius-rounded);
							@include flex-center;
						}

						.value {
							margin-right: var(--space-xs-3);
						}

						.value,
						&>i {
							line-height: var(--space-md);
						}
					}

					&:not(:last-child) {
						margin-bottom: var(--space-sm);
					}
				}
			}
		}
	}
}