.footer{
    margin-top: var(--space-s);
    padding: var(--space-s) 0;
    border-top: 1px solid var(--border-light);
    .author-content{
        display: flex;
        align-items: center;
    }
    ul.social-list{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        li{
            &:not(:last-child){
                margin-right: var(--space-m);
            }
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            &:hover{
                text-decoration: none;
            }
        }
    }
    @media (max-width: 576px) {
        ul.social-list, .author-content{
            justify-content: center;
        }
        .author-content{
            margin-bottom: var(--space-xs-2);
        }
    }
}

body{
    &.is-mobile[data-nav-height]{
        // padding-bottom: attr(data-nav-height);
    }
}