.header{
	transition: background-color .3s ease, box-shadow .3s ease;
	&.is-sticky{
		position: fixed;
		left: 0;
		right: 0;
		z-index: 1000;
	}
	&.has-background{
		background-image: radial-gradient(transparent 1px,white 1px);
		backdrop-filter: saturate(50%) blur(4px);
		background-size: 6px 6px;
	}
	@media (min-width: 992px) {
		&.is-sticky{
			top: 0;
		}
		&.has-background{
			// background-color: white;
			box-shadow: 0 2px 42px 0 rgba(black, .08);
		}
	}
	.navigation-menu{
		padding-top: 8px;
		padding-bottom: 8px;
		// padding-top: 12px;
		// padding-bottom: 12px;
		display: flex;
		justify-content: space-between;
		ul{
			list-style-type: none;
			padding-left: 0;
			margin-bottom: 0;
			&:not(.social-list){
				li{
					display: inline-block;
					&:not(:last-child){
						margin-right: 24px;
						@media (max-width: 576px) {
							margin-right: 8px;
						}
					}
					&.logo{
						$logo-size: 60px;
						width: $logo-size;
						height: $logo-size;
						img{
							width: 100%;
							height: 100%;
						}
						a{
							border-radius: 50%;
							display: inline-block;
							border: 2px solid;
							border-color: transparent;
						}
						&:hover{
							a{
								border-color: rgba($brand, 1);
							}
						}
					}
					&:not(:first-child){
						a{
							@include btn;
							@include btn-md;
							@include btn-ghost-brand;
						}
			        }
					// a{
					// 	color: $brand;
					// 	font-weight: 600;
					// 	transition: border .3s ease, color .3s ease;
					// 	text-decoration: none;
						// border-bottom: 3px solid transparent;

						// &:hover{
						// 	color: darken($brand, 5%);
						// 	// border-color: $brand;
						// }
					// }
				}
			}
			&.social-list{
				display: flex;
				align-items: center;
				li{
					&:not(:last-child){
						margin-right: 24px;
					}
				}
				a{
					// text-decoration: none;
					// display: flex;
					// align-items: center;
					// justify-content: center;
				}
				@media (max-width: 576px) {
					display: none;
				}
			}
		}
		&-right{

		}
	}
}

.is-mobile{
	.header{
		&.is-sticky{
			top: unset;
			bottom: 0;
			box-shadow: 0 -2px 42px 0 rgba(black, .08);
			background-image: radial-gradient(transparent 1px,white 1px);
			backdrop-filter: saturate(50%) blur(4px);
			background-size: 8px 8px;
		}
	}
}