@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900);
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2a3e52;
  font-size: 14px; }

.page-loader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #EA5D5D;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1060; }
  .page-loader .loader-content {
    text-align: center; }
    .page-loader .loader-content .title {
      -webkit-animation: flash 3s ease infinite;
              animation: flash 3s ease infinite;
      color: white;
      font-weight: 600;
      font-size: 18px; }
  .page-loader .logo-img {
    width: 120px; }

@-webkit-keyframes move2Left {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@keyframes move2Left {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

.move2Left {
  -webkit-animation-name: move2Left;
  animation-name: move2Left; }

.m-b-1 {
  margin-bottom: 2px; }

.m-b-2 {
  margin-bottom: 4px; }

.m-b-3 {
  margin-bottom: 8px; }

.m-b-4 {
  margin-bottom: 12px; }

.m-b-5 {
  margin-bottom: 16px; }

.m-b-6 {
  margin-bottom: 20px; }

.m-b-7 {
  margin-bottom: 24px; }

.m-b-8, .section-banner .content-text .title, .section-contact .content-text .title {
  margin-bottom: 32px; }

.m-b-9 {
  margin-bottom: 40px; }

.m-b-10 {
  margin-bottom: 48px; }

.m-b-11 {
  margin-bottom: 60px; }

.m-b-12 {
  margin-bottom: 100px; }

.m-b-13 {
  margin-bottom: 120px; }

.m-b-14 {
  margin-bottom: 160px; }

.m-b-15 {
  margin-bottom: 200px; }

.m-b-16 {
  margin-bottom: 240px; }

.m-b-17 {
  margin-bottom: 320px; }

.m-b-18 {
  margin-bottom: 400px; }

.m-b-19 {
  margin-bottom: 600px; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.btn-just-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  line-height: 38px;
  text-align: center; }
  .btn-just-icon i {
    font-size: 20px; }
  .btn-just-icon.btn-brand {
    -webkit-transition: color .3s ease, background-color .3s ease;
    transition: color .3s ease, background-color .3s ease;
    color: #EA5D5D; }
    .btn-just-icon.btn-brand:hover {
      background-color: rgba(234, 93, 93, 0.2); }

.btn {
  -webkit-transition: color .3s ease, border .3s ease, box-shadow .3s ease;
  transition: color .3s ease, border .3s ease, box-shadow .3s ease; }
  .btn > i {
    font-size: 18px;
    vertical-align: sub; }

.btn-brand:not(.btn-just-icon) {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  color: white;
  padding: 9.5px 16.8px;
  border-radius: 6px;
  background-color: #EA5D5D;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .btn-brand:not(.btn-just-icon):hover, .btn-brand:not(.btn-just-icon):focus, .btn-brand:not(.btn-just-icon):active, .btn-brand:not(.btn-just-icon).active {
    color: white;
    text-decoration: none;
    background-color: #e74646;
    box-shadow: 0 0 10.28px 1.72px rgba(0, 0, 0, 0.03); }

.btn-secondary:not(.btn-just-icon) {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  color: #EA5D5D;
  padding: 9.5px 16.8px;
  border-radius: 6px;
  background-color: #f8c9c9;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .btn-secondary:not(.btn-just-icon):hover, .btn-secondary:not(.btn-just-icon):focus, .btn-secondary:not(.btn-just-icon):active, .btn-secondary:not(.btn-just-icon).active {
    color: white;
    text-decoration: none;
    background-color: #EA5D5D;
    box-shadow: 0 0 10.28px 1.72px rgba(0, 0, 0, 0.03); }

.navigation-tabs ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .navigation-tabs ul li:not(:last-child) {
    margin-right: 32px; }
  .navigation-tabs ul li a {
    font-weight: 600;
    color: #2a3e52;
    border-bottom: 2px solid transparent;
    -webkit-transition: border .3s ease, color .3s ease;
    transition: border .3s ease, color .3s ease;
    text-decoration: none; }
  .navigation-tabs ul li.active a, .navigation-tabs ul li:hover a {
    color: #EA5D5D;
    border-color: #EA5D5D;
    text-decoration: none; }

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 14px;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: .9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }
  .tooltip-inner {
    max-width: 220px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 6px; }

.bs-tooltip-auto[x-placement^=top], .bs-tooltip-top {
  padding: .4rem 0; }

.bs-tooltip-auto[x-placement^=right], .bs-tooltip-right {
  padding: 0 .4rem; }

.bs-tooltip-auto[x-placement^=bottom], .bs-tooltip-bottom {
  padding: .4rem 0; }

.bs-tooltip-auto[x-placement^=left], .bs-tooltip-left {
  padding: 0 .4rem; }

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  top: 0;
  border-width: .4rem .4rem 0;
  border-top-color: #000; }

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  right: 0;
  border-width: .4rem .4rem .4rem 0;
  border-right-color: #000; }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  bottom: 0;
  border-width: 0 .4rem .4rem;
  border-bottom-color: #000; }

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  left: 0;
  border-width: .4rem 0 .4rem .4rem;
  border-left-color: #000; }

.bs-tooltip-auto[x-placement^=top] .arrow, .bs-tooltip-top .arrow {
  bottom: 0; }

.bs-tooltip-auto[x-placement^=right] .arrow, .bs-tooltip-right .arrow {
  left: 0;
  width: .4rem;
  height: .8rem; }

.bs-tooltip-auto[x-placement^=bottom] .arrow, .bs-tooltip-bottom .arrow {
  top: 0; }

.bs-tooltip-auto[x-placement^=top] .arrow, .bs-tooltip-top .arrow {
  bottom: 0; }

[class^="ri-"], [class*=" ri-"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.section {
  margin-bottom: 120px; }
  @media (max-width: 576px) {
    .section {
      margin-bottom: 60px; } }
  .section-title {
    font-weight: 700;
    font-size: 40px;
    color: #EA5D5D;
    margin-bottom: 32px; }
    @media (max-width: 576px) {
      .section-title {
        font-size: 32px; } }

.section-banner {
  position: relative;
  overflow-x: hidden; }
  .section-banner .content-text .title {
    font-size: 40px;
    font-weight: 700;
    color: #EA5D5D; }
    @media (max-width: 576px) {
      .section-banner .content-text .title {
        font-size: 32px; } }
    .section-banner .content-text .title a {
      color: #EA5D5D;
      text-decoration: underline; }
  .section-banner .content-bg {
    position: absolute;
    right: 0;
    top: -10%; }
    @media (max-width: 991px) {
      .section-banner .content-bg {
        position: static;
        margin-top: -20%; } }
    @media (max-width: 576px) {
      .section-banner .content-bg {
        margin-top: -40%; } }
    @media (max-width: 414px) {
      .section-banner .content-bg {
        margin-top: -50%; } }
  @media (max-width: 991px) {
    .section-banner .content-text {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .section-banner .content-bg {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; } }

.section-profile .profile-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }
  .section-profile .profile-content ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 577px) and (max-width: 991px) {
      .section-profile .profile-content ul li {
        display: block; } }
    .section-profile .profile-content ul li .title {
      font-weight: 600;
      width: 100%;
      max-width: 180px; }
    .section-profile .profile-content ul li:not(:last-child) {
      margin-bottom: 24px; }

.section-profile .profile-content a {
  color: #2a3e52; }

@media (max-width: 991px) {
  .section-profile svg {
    width: 100%; } }

.section-skills {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }
  .section-skills:before, .section-skills:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    background-color: #E5E5E5; }
  .section-skills:before {
    top: 0;
    right: 0; }
  .section-skills:after {
    bottom: 0;
    left: 0; }
  .section-skills .skills-content .item {
    text-align: center; }
    .section-skills .skills-content .item .icon {
      width: 124px;
      height: 124px;
      padding: 32px;
      border-radius: 50%;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-image: -webkit-linear-gradient(left, #fff7f7 0%, #ffc3bf 100%);
      background-image: linear-gradient(to right, #fff7f7 0%, #ffc3bf 100%);
      margin-bottom: 24px;
      position: relative; }
      .section-skills .skills-content .item .icon:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-animation: line-blow-up 3s ease infinite;
                animation: line-blow-up 3s ease infinite;
        border-radius: 50%;
        border: 1px solid rgba(234, 93, 93, 0.2); }
      .section-skills .skills-content .item .icon img {
        width: 100%; }
    .section-skills .skills-content .item .title {
      font-size: 20px;
      font-weight: 700; }
  @media (max-width: 768px) {
    .section-skills .skills-content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .section-skills .skills-content .item {
        margin-bottom: 24px; } }
  @media (max-width: 576px) {
    .section-skills {
      padding-top: 60px;
      padding-bottom: 60px; } }

@-webkit-keyframes line-blow-up {
  0 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  50% {
    top: -12%;
    left: -12%;
    bottom: -12%;
    right: -12%; }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; } }

@keyframes line-blow-up {
  0 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  50% {
    top: -12%;
    left: -12%;
    bottom: -12%;
    right: -12%; }
  100% {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; } }

.section-contact {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-image: -webkit-linear-gradient(left, #fff7f7 0%, #ffc3bf 100%);
  background-image: linear-gradient(to right, #fff7f7 0%, #ffc3bf 100%); }
  .section-contact .shape-wave-1, .section-contact .shape-wave-2 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1; }
  .section-contact .shape-wave-1 {
    top: 0; }
  .section-contact .shape-wave-2 {
    bottom: -1px; }
  .section-contact .shape-tree-1, .section-contact .shape-tree-2 {
    position: absolute;
    bottom: 0; }
    @media (max-width: 991px) {
      .section-contact .shape-tree-1, .section-contact .shape-tree-2 {
        display: none; } }
  .section-contact .shape-tree-1 {
    left: 0;
    width: 500px; }
  .section-contact .shape-tree-2 {
    right: 0; }
  .section-contact .content-text .title {
    font-size: 40px;
    font-weight: 700;
    color: #EA5D5D; }
    @media (max-width: 576px) {
      .section-contact .content-text .title {
        font-size: 32px; } }
    .section-contact .content-text .title a {
      color: #EA5D5D;
      text-decoration: underline; }
  .section-contact .content-bg svg {
    margin: 0 auto; }
  @media (max-width: 991px) {
    .section-contact {
      padding-top: 0;
      padding-bottom: 0; }
      .section-contact .content-bg svg {
        width: 100%;
        height: 460px; } }
  @media (max-width: 768px) {
    .section-contact .content-bg svg {
      width: 100%;
      height: 430px; } }
  @media (max-width: 576px) {
    .section-contact {
      padding-top: 60px;
      overflow: hidden; }
      .section-contact .content-text {
        text-align: center; }
      .section-contact .content-bg svg {
        height: 400px;
        -webkit-transform: translateY(50px);
            -ms-transform: translateY(50px);
                transform: translateY(50px); } }

.section-work .slide-wrapper {
  padding: 32px 0; }

.section-work .item {
  width: 100%;
  max-width: 550px; }
  .section-work .item > .title {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600; }
  .section-work .item > .url-link [class^="ri-"], .section-work .item > .url-link [class*=" ri-"] {
    font-size: 20px;
    vertical-align: middle; }
  .section-work .item > .url-link .icon {
    margin-right: 4px; }
  .section-work .item > .url-link a {
    color: #2a3e52;
    text-decoration: underline; }
  .section-work .item > .item-thumbnail {
    box-shadow: 0 0 10.28px 1.72px rgba(0, 0, 0, 0.03);
    overflow: hidden;
    position: relative; }
    .section-work .item > .item-thumbnail:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 71.11111%; }
    .section-work .item > .item-thumbnail img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .section-work .item > .item-thumbnail .overlay-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(234, 93, 93, 0.8);
      -webkit-transition: background .3s ease, visibility .3s ease, opacity .3s ease;
      transition: background .3s ease, visibility .3s ease, opacity .3s ease;
      visibility: hidden;
      opacity: 0;
      text-decoration: none; }
      .section-work .item > .item-thumbnail .overlay-content > .icon {
        font-size: 64px;
        color: white; }
  .section-work .item:hover .item-thumbnail .overlay-content {
    visibility: visible;
    opacity: 1; }

.section-work .swiper-container {
  -webkit-animation: fadeIn .6s ease;
          animation: fadeIn .6s ease; }

.header {
  -webkit-transition: background-color .3s ease, box-shadow .3s ease;
  transition: background-color .3s ease, box-shadow .3s ease; }
  .header.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; }
  .header.has-background {
    background-color: white;
    box-shadow: 0 2px 42px 0 rgba(0, 0, 0, 0.03); }
  .header .navigation-menu {
    padding-top: 8px;
    padding-bottom: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .navigation-menu ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0; }
      .header .navigation-menu ul:not(.social-list) li {
        display: inline-block; }
        .header .navigation-menu ul:not(.social-list) li:not(:last-child) {
          margin-right: 24px; }
          @media (max-width: 576px) {
            .header .navigation-menu ul:not(.social-list) li:not(:last-child) {
              margin-right: 8px; } }
        .header .navigation-menu ul:not(.social-list) li.logo {
          width: 60px;
          height: 60px; }
          .header .navigation-menu ul:not(.social-list) li.logo img {
            width: 100%;
            height: 100%; }
          .header .navigation-menu ul:not(.social-list) li.logo a {
            border-radius: 50%;
            display: inline-block;
            border: 2px solid;
            border-color: transparent; }
          .header .navigation-menu ul:not(.social-list) li.logo:hover a {
            border-color: #ea5d5d; }
        .header .navigation-menu ul:not(.social-list) li:not(:first-child) a {
          cursor: pointer;
          display: inline-block;
          font-weight: 600;
          color: #EA5D5D;
          padding: 9.5px 16.8px;
          border-radius: 6px;
          background-color: transparent;
          text-decoration: none;
          -webkit-transition: all .3s ease;
          transition: all .3s ease; }
          .header .navigation-menu ul:not(.social-list) li:not(:first-child) a:hover, .header .navigation-menu ul:not(.social-list) li:not(:first-child) a:focus, .header .navigation-menu ul:not(.social-list) li:not(:first-child) a:active, .header .navigation-menu ul:not(.social-list) li:not(:first-child) a.active {
            color: #EA5D5D;
            text-decoration: none;
            background-color: rgba(234, 93, 93, 0.2);
            box-shadow: 0 0 10.28px 1.72px rgba(0, 0, 0, 0.03); }
      .header .navigation-menu ul.social-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .navigation-menu ul.social-list li:not(:last-child) {
          margin-right: 24px; }
        .header .navigation-menu ul.social-list a {
          text-decoration: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
        @media (max-width: 576px) {
          .header .navigation-menu ul.social-list {
            display: none; } }

.footer {
  margin-top: 16px;
  padding: 16px 0;
  border-top: 1px solid #E5E5E5; }
  .footer .author-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px; }
  .footer ul.social-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .footer ul.social-list li:not(:last-child) {
      margin-right: 24px; }
    .footer ul.social-list a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-decoration: none; }
      .footer ul.social-list a:hover {
        text-decoration: none; }
  @media (max-width: 576px) {
    .footer ul.social-list, .footer .author-content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer .author-content {
      margin-bottom: 8px; } }
