body {
	font-family: var(--font-family);
	color: var(--fg-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-regular);
	background-color: var(--surface-1);
}

.divider {
	width: 100%;
	background-color: var(--border);
	height: 1px;

	&-dashed {
		/* control the space between dashes */
		--s: 12px;
		@extend .divider;
		background:
			radial-gradient(circle closest-side, var(--border) 98%, #0000) 0 0/var(--s) 100%,
			linear-gradient(90deg, var(--border) 50%, #0000 0) calc(var(--s)/2) 0/calc(2*var(--s)) 100%;

		&.vertical {
			height: 100%;
			width: 1px;
			background:
				radial-gradient(circle closest-side, var(--border) 98%, #0000) 0 0/100% var(--s),
				linear-gradient(var(--border) 50%, #0000 0) 0 calc(var(--s)/2)/100% calc(2*var(--s));
		}
	}
}

a {
	color: var(--fg-link);
	transition: color .3s ease;
	&:hover {
		color: var(--fg-link-hover);
	}
	&:active, &.active {
		color: var(--fg-link-pressed);
	}
	&:disabled, &.disabled {
		color: var(--fg-link-disabled);
	}
}

// Loading
.page-loader {
	background-color: var(--bg-brand);
	z-index: 1060;
	@include position($position: fixed);
	@include flex-center;

	.loader-content {
		text-align: center;
	}

	&-title {
		animation: flash 3s ease infinite;
		color: var(--fg-inverse-static);
		@include text-heading(6);
	}

	.logo-img {
		width: var(--space-xl-6);
	}
}

// Animation
@keyframes move2Left {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes personalityProgressTracker {
	0% {
		width: 15%;
	}

	50% {
		width: 13%;
	}

	100% {
		width: 15%;
	}
}

@keyframes personalityProgressText {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(3deg);
	}

	50% {
		transform: rotate(-3deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.move2Left {
	-webkit-animation-name: move2Left;
	animation-name: move2Left;
}

@keyframes border-angle-rotate {
	from {
		--border-angle: 0deg;
	}

	to {
		--border-angle: 360deg;
	}
}


[class^="ri-"],
[class*=" ri-"] {
	vertical-align: middle;
}