// Colors
$brand: 						#EA5D5D 				!default;
$brand-bg: 						#FFFAFA 				!default;

// Semantic
$blue: 							#1896FF 				!default;
$green: 						#7AD610 				!default;
$orange: 						#FFA65E 				!default;
$red: 							#FF5E5E 				!default;
$yellow: 						#FFD836 				!default;


// Neutral
$neutral-0: 						#2a3e52 				!default;
$neutral-1: 						#87969d 				!default;
$neutral-2: 						#B9C1CE 				!default;
$neutral-3: 						#D7DBE3 				!default;
$neutral-4: 						#F5F6F8 				!default;


// Heading
$h1: 							40px					!default;
$h2: 							32px					!default;
$h3: 							28px					!default;
$h4: 							24px					!default;
$h5: 							20px					!default;
$h6: 							16px					!default;


// Social
$twitter: 						#55acee					!default;
$facebook: 						#4466ae					!default;
$google: 						#dd4b39					!default;
$dribbble: 						#ea4c89					!default;
$behance: 						#1769ff					!default;
$linkedin: 						#0077B5					!default;
$pinterest: 					#cc2127					!default;
$youtube: 						#e52d27					!default;
$tumblr: 						#35465c					!default;
$github-alt: 					#333333					!default;
$reddit: 						#ff4500					!default;
$skype: 						#00aff0					!default;

// Body Background
$bg-body: #f3f6f8;


// Border
$border-theme:                  6px        				!default;
$border-rounded:                30px        			!default;
$border-color:                	#E5E5E5     			!default;
// $border-input:                	#ced4da     			!default;

// Input
$input-height-sm:				30px					!default;
$input-height-md:				38px				    !default;
$input-height-lg:				48px					!default;
$input-border-color:			$border-color			!default;

$input-bg:                		white					!default;
$input-color:                	$neutral-0					!default;
$input-color-active:			$brand					!default;

$input-placeholder:				$neutral-2					!default;

$input-disabled:				$neutral-2					!default;
$input-disabled-bg:				$neutral-4					!default;


// Checkbox & Radio
$custom-control-size: 20px;

// Fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap);
$font-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-base: 14px;


:root{
    --brand: 						#{$brand};
    --brand-bg: 					#{$brand-bg};

    --blue:                         #{$blue};
    --green: 					    #{$green};
    --orange: 					    #{$orange};
    --red: 					        #{$red};
    --yellow: 					    #{$yellow};

    --neutral-0:                    #{$neutral-0};
    --neutral-1:                    #{$neutral-1};
    --neutral-2:                    #{$neutral-2};
    --neutral-3:                    #{$neutral-3};
    --neutral-4:                    #{$neutral-4};

    // Social
    --twitter: 						#{$twitter};
    --facebook: 					#{$facebook};
    --google: 						#{$google};
    --dribbble: 					#{$dribbble};
    --behance: 						#{$behance};
    --linkedin: 					#{$linkedin};
    --pinterest: 					#{$pinterest};
    --youtube: 					    #{$youtube};
    --tumblr: 					    #{$tumblr};
    --github-alt: 					#{$github-alt};
    --reddit: 					    #{$reddit};
    --skype: 					    #{$skype};
}