// Colors
$brand: 						    #EA5D5D                       !default;
$brand-bg: 						    #FFFAFA                       !default;


// Neutral
$neutral-50:                   #fafafa;
$neutral-100:                  #f5f5f5;
$neutral-200:                  #e5e5e5;
$neutral-300:                  #d4d4d4;
$neutral-400:                  #a3a3a3;
$neutral-500:                  #737373;
$neutral-600:                  #525252;
$neutral-700:                  #404040;
$neutral-800:                  #262626;
$neutral-900:                  #171717;
$neutral-950:                  #0a0a0a;

// Social
$twitter: 						        #55acee					!default;
$facebook: 						        #4466ae					!default;
$google: 						        #dd4b39					!default;
$dribbble: 						        #ea4c89					!default;
$behance: 						        #1769ff					!default;
$linkedin: 						        #0a66c2					!default;
$pinterest: 					        #cc2127					!default;
$youtube: 						        #e52d27					!default;
$tumblr: 						        #35465c					!default;
$github-alt: 					        #333333					!default;
$reddit: 						        #ff4500					!default;
$skype: 						        #00aff0					!default;


// Checkbox & Radio
$custom-control-size: 20px;
// Fonts
// $font-primary: 'Instrument Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
// @import url(https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap);


:root{
    // Color ------------------------------------------------------------
    --brand: 						var(--brand-600);
    --brand-bg: 					var(--brand-200);

    --neutral-50:                   #fafafa;
    --neutral-100:                  #f5f5f5;
    --neutral-200:                  #e5e5e5;
    --neutral-300:                  #d4d4d4;
    --neutral-400:                  #a3a3a3;
    --neutral-500:                  #737373;
    --neutral-600:                  #525252;
    --neutral-700:                  #404040;
    --neutral-800:                  #262626;
    --neutral-900:                  #171717;
    --neutral-950:                  #0a0a0a;

    --brand-50:                     #FEF6F6;
    --brand-100:                    #FDEFEF;
    --brand-200:                    #FAD8D8;
    --brand-300:                    #F6B9B9;
    --brand-400:                    #F29999;
    --brand-500:                    #EE7A7A;
    --brand-600:                    #EA5D5D;
    --brand-700:                    #C74F4F;
    --brand-800:                    #A64242;
    --brand-900:                    #853535;
    --brand-950:                    #692A2A;
    
    --blue-50:                      #EFF6FF;
    --blue-100:                     #DBEAFE;
    --blue-200:                     #BFDBFE;
    --blue-300:                     #93C5FD;
    --blue-400:                     #60A5FA;
    --blue-500:                     #3B82F6;
    --blue-600:                     #2563EB;
    --blue-700:                     #1D4ED8;
    --blue-800:                     #1E40AF;
    --blue-900:                     #1E3A8A;
    --blue-950:                     #172554;
    
    --green-50:                     #f0fdf4;
    --green-100:                    #dcfce7;
    --green-200:                    #bbf7d0;
    --green-300:                    #86efac;
    --green-400:                    #4ade80;
    --green-500:                    #22c55e;
    --green-600:                    #16a34a;
    --green-700:                    #15803d;
    --green-800:                    #166534;
    --green-900:                    #14532d;
    --green-950:                    #052e16;
    
    --orange-50:                    #fff7ed;
    --orange-100:                   #ffedd5;
    --orange-200:                   #fed7aa;
    --orange-300:                   #fdba74;
    --orange-400:                   #fb923c;
    --orange-500:                   #f97316;
    --orange-600:                   #ea580c;
    --orange-700:                   #c2410c;
    --orange-800:                   #9a3412;
    --orange-900:                   #7c2d12;
    --orange-950:                   #431407;
    
    --red-50:                       #fef2f2;
    --red-100:                      #fee2e2;
    --red-200:                      #fecaca;
    --red-300:                      #fca5a5;
    --red-400:                      #f87171;
    --red-500:                      #ef4444;
    --red-600:                      #dc2626;
    --red-700:                      #b91c1c;
    --red-800:                      #991b1b;
    --red-900:                      #7f1d1d;
    --red-950:                      #450a0a;



    
    // Social -----------------------------------------------------------
    --twitter: 						#{$twitter};
    --facebook: 					#{$facebook};
    --google: 						#{$google};
    --dribbble: 					#{$dribbble};
    --behance: 						#{$behance};
    --linkedin: 					#{$linkedin};
    --pinterest: 					#{$pinterest};
    --youtube: 					    #{$youtube};
    --tumblr: 					    #{$tumblr};
    --github-alt: 					#{$github-alt};
    --reddit: 					    #{$reddit};
    --skype: 					    #{$skype};

    



    
    // Typography -------------------------------------------------------

    // Plus Jakarta Sans, Space Grotesk, Gilroy
    --font-family:                  'Gilroy', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-code:             ui-monospace, Menlo, Consolas, Monaco, monospace;
    --font-size-base:               var(--body-font-size-md);
    
    --font-weight-regular:          400;
    --font-weight-medium:           500;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;

    // Body
    --body-font-size-sm:            12px;
    --body-font-size-md:            14px;
    --body-font-size-lg:            16px;
    
    --body-line-height-sm:          16px;
    --body-line-height-md:          20px;
    --body-line-height-lg:          24px;


    // Display
    --display-1:                    96px;
    --display-2:                    64px;
    --display-3:                    48px;

    --display-font-weight-1:        var(--font-weight-bold);   // Bold
    --display-font-weight-2:        var(--font-weight-bold);
    --display-font-weight-3:        var(--font-weight-bold);

    --display-line-height-1:        144px;
    --display-line-height-2:        80px;
    --display-line-height-3:        72px;


    // Heading
    --heading-1:                    40px;
    --heading-2:                    32px;
    --heading-3:                    28px;
    --heading-4:                    24px;
    --heading-5:                    20px;
    --heading-6:                    18px;

    --heading-font-weight-1:        var(--font-weight-bold);   // Bold
    --heading-font-weight-2:        var(--font-weight-bold);
    --heading-font-weight-3:        var(--font-weight-bold);
    --heading-font-weight-4:        var(--font-weight-semibold);   // Semibold
    --heading-font-weight-5:        var(--font-weight-semibold);
    --heading-font-weight-6:        var(--font-weight-semibold);

    --heading-line-height-1:        60px;
    --heading-line-height-2:        48px;
    --heading-line-height-3:        42px;
    --heading-line-height-4:        36px;
    --heading-line-height-5:        30px;
    --heading-line-height-6:        26px;

    




    // Foreground -------------------------------------------------------
    --fg-main:                      var(--neutral-900);
    --fg-subtle:                    var(--neutral-600);
    --fg-subtlest:                  var(--neutral-500);
    --fg-disabled:                  var(--neutral-300);
    --fg-decor:                     var(--neutral-300);
    --fg-inverse:                   #ffffff;
    
    --fg-brand:                     var(--brand-600);
    --fg-brand-strong:              var(--brand-700);
    --fg-brand-light:               var(--brand-500);

    --fg-info:                      var(--blue-600);
    --fg-success:                   var(--green-600);
    --fg-warning:                   var(--orange-600);
    --fg-danger:                    var(--red-600);


    --fg-link:                      var(--blue-600);
    --fg-link-hover:                var(--blue-500);
    --fg-link-pressed:              var(--blue-700);
    --fg-link-disabled:             var(--blue-300);
    
    



     
    // Backround -------------------------------------------------------

    --bg-neutral:                                           var(--neutral-200);
    --bg-neutral-hover:                                     var(--neutral-300);
    --bg-neutral-pressed:                                   var(--neutral-400);
    --bg-neutral-disabled:                                  var(--neutral-200);

    --bg-brand:                                             var(--brand-600);
    --bg-brand-hover:                                       var(--brand-700);
    --bg-brand-pressed:                                     var(--brand-800);
    
    --bg-secondary:                                         var(--brand-200);
    --bg-secondary-hover:                                   var(--brand-600);
    --bg-secondary-pressed:                                 var(--brand-700);
    
    --bg-ghost-brand:                                       transparent;
    --bg-ghost-brand-hover:                                 var(--brand-200);
    --bg-ghost-brand-pressed:                               var(--brand-300);
    
    --bg-ghost-neutral:                                     var(--neutral-200);
    --bg-ghost-neutral-hover:                               var(--neutral-300);
    --bg-ghost-neutral-pressed:                             var(--neutral-400);
    
    
    // Accent
    --bg-accent-info:                                       var(--blue-600);
    --bg-accent-info-hover:                                 var(--blue-500);
    --bg-accent-info-pressed:                               var(--blue-700);
    --bg-accent-info-disabled:                              var(--blue-50);

    --bg-accent-info-subtle:                                var(--blue-100);
    --bg-accent-info-subtle-hover:                          var(--blue-200);
    --bg-accent-info-subtle-pressed:                        var(--blue-700);
    --bg-accent-info-subtle-disabled:                       var(--blue-50);
    
    
    --bg-accent-success:                                    var(--green-600);
    --bg-accent-success-hover:                              var(--green-500);
    --bg-accent-success-pressed:                            var(--green-700);
    --bg-accent-success-disabled:                           var(--green-50);

    --bg-accent-success-subtle:                             var(--green-100);
    --bg-accent-success-subtle-hover:                       var(--green-200);
    --bg-accent-success-subtle-pressed:                     var(--green-700);
    --bg-accent-success-subtle-disabled:                    var(--green-50);
    
    
    --bg-accent-warning:                                    var(--orange-600);
    --bg-accent-warning-hover:                              var(--orange-500);
    --bg-accent-warning-pressed:                            var(--orange-700);
    --bg-accent-warning-disabled:                           var(--orange-50);

    --bg-accent-warning-subtle:                             var(--orange-100);
    --bg-accent-warning-subtle-hover:                       var(--orange-200);
    --bg-accent-warning-subtle-pressed:                     var(--orange-700);
    --bg-accent-warning-subtle-disabled:                    var(--orange-50);
    
    
    --bg-accent-danger:                                     var(--red-600);
    --bg-accent-danger-hover:                               var(--red-500);
    --bg-accent-danger-pressed:                             var(--red-700);
    --bg-accent-danger-disabled:                            var(--red-50);

    --bg-accent-danger-subtle:                              var(--red-100);
    --bg-accent-danger-subtle-hover:                        var(--red-200);
    --bg-accent-danger-subtle-pressed:                      var(--red-700);
    --bg-accent-danger-subtle-disabled:                     var(--red-50);
    

    // Surface
    --surface-1:                    white; // Canvas
    --surface-2:                    var(--neutral-50); // Scrollable
    --surface-3:                    white; // Card
    --surface-4:                    rgba(0, 0, 0, 0.64); // Overlay
    --surface-5:                    white; // Card
    
    



    
    // Shadow
    --shadow-50:                    0 1px 2px 0px rgba(0,0,0,.04);
    --shadow-100:                   0 3px 4px 0px rgba(0,0,0,.04);
    --shadow-200:                   0 3px 8px 0px rgba(0,0,0,.08);
    --shadow-300:                   0 5px 12px 0px rgba(0,0,0,.12);
    --shadow-400:                   0 5px 16px 0px rgba(0,0,0,.16);
    --shadow-500:                   0 6px 24px 0px rgba(0,0,0,.16);
    
    



    
    // Border ----------------------------------------------------------
    --border-light:                 var(--neutral-200);
    --border-strong:                var(--neutral-300);
    --border-brand:                 var(--brand-600);
    --border-info:                  var(--blue-600);
    --border-success:               var(--green-600);
    --border-warning:               var(--orange-600);
    --border-danger:                var(--red-600);
    
    



    
    // Spacing ---------------------------------------------------------
    --space-xs-4:                   2px;
    --space-xs-3:                   4px;
    --space-xs-2:                   8px;
    --space-xs:                     12px;
    --space-sm:                     16px;
    --space-md:                     24px;
    --space-lg:                     32px;
    --space-xl:                     40px;
    --space-xl-2:                   48px;
    --space-xl-3:                   56px;
    --space-xl-4:                   64px;
    --space-xl-5:                   72px;
    --space-xl-6:                   96px;
    --space-xl-7:                   128px;
    
    



    
    // Spacing ---------------------------------------------------------
    --radius-xs-4:                  2px;
    --radius-xs-3:                  4px;
    --radius-xs-2:                  8px;
    --radius-xs:                    12px;
    --radius-sm:                    16px;
    --radius-md:                    24px;
    --radius-lg:                    32px;
    --radius-xl:                    40px;
    --radius-rounded:               128px;
    
    



    
    // UI control ------------------------------------------------------
    --ui-size-xs-2:                 var(--space-sm);
    --ui-size-xs:                   var(--space-md);
    --ui-size-sm:                   var(--space-lg);
    --ui-size-md:                   var(--space-xl);
    --ui-size-lg:                   var(--space-xl-2);
    
    --ui-radius-sm:                 var(--radius-xs-2);
    --ui-radius-md:                 var(--radius-xs);
    --ui-radius-lg:                 var(--radius-sm);

    



    
    // Dimension Theme -------------------------------------------------
    --section-margin-mobile:        var(--space-xl-4);
    --section-margin-web:           var(--space-xl-7);
    --section-title-marign:         var(--space-lg);


    --border-angle: 0deg;
}

@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}