.header.is-sticky
	.container
		.navigation-menu
			ul
				li.logo
					a(href="#")
						img(src="assets/images/logo.svg", alt="TGT Logo")
				each item in ['Home', 'Work', 'About', 'Profile']
					li
						a(href="#")= item
			ul.social-list
				- let socialLink = ['https://www.facebook.com/tgt95', 'https://www.behance.net/tgt95', 'https://dribbble.com/tgt95', 'https://github.com/tgt95']
				each icon, index in ['facebook', 'behance', 'dribbble', 'github']
					li
						a(href=socialLink[index]).btn-just-icon.btn-brand
							i(class=`ri-${icon}-fill`)