@use '../../variables' as *;
@use '../../utilities/main' as utils;
@use '../../mixins';

// Work
.section-work {
  .slide-wrapper {
    padding: var(--space-lg) 0;
    transition: all 0.3s var(--transition-base);

    &.row {
      width: initial;

      .item {
        // max-width: 100% !important;

        &:not(:last-child) {
          margin-bottom: var(--space-lg);
        }
      }
    }
  }

  .swiper-controls {
    display: flex;

    .slide-button-prev,
    .slide-button-next {
      > i {
        font-size: var(--heading-2);
      }

      &.swiper-button-disabled {
        opacity: 0.5;
      }
    }
  }

  .item {
    // width: 100%;
    transition: all 0.3s var(--transition-base);

    &:not([class*='col-']) {
      max-width: 550px;
    }

    > .title {
      font-size: var(--body-font-size-lg);
      font-weight: var(--font-weight-semibold);
      margin-top: var(--space-xs);
    }

    > .url-link {
      [class^='ri-'],
      [class*=' ri-'] {
        font-size: var(--heading-5);
        vertical-align: middle;
      }

      .icon {
        margin-right: var(--space-xs-3);
      }

      a {
        color: var(--fg-main);
        text-decoration: underline;
        transition: all 0.3s var(--transition-base);

        &:hover {
          color: var(--fg-brand);
        }
      }
    }

    > .item-thumbnail {
      overflow: hidden;
      position: relative;
      border-radius: var(--radius-xs);
      border: 1px solid var(--border);

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: calc(1024 / 1440) * 100%;
      }

      img {
        @include utils.position;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s var(--transition-base);
      }

      .overlay-content {
        @include utils.flex-center;
        @include utils.position;
        background-color: rgba($brand-600, 0.8);
        backdrop-filter: blur(2px);
        transition:
          background-color 0.3s var(--transition-base),
          visibility 0.3s var(--transition-base),
          opacity 0.3s var(--transition-base);
        visibility: hidden;
        opacity: 0;
        text-decoration: none;
        border-radius: var(--radius-xs);

        .icon {
          font-size: var(--display-2);
          color: var(--fg-inverse-static);
        }

        .text {
          font-size: var(--body-font-size-lg);
          font-weight: var(--font-weight-semibold);
          color: var(--fg-inverse-static);
        }
      }
    }

    &:hover {
      .item-thumbnail {
        box-shadow: var(--shadow-300);

        img {
          transform: scale(1.015);
        }

        .overlay-content {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .status-badge {
      position: absolute;
      top: var(--space-xs);
      left: var(--space-xs);
    }
  }

  .swiper-container {
    animation: fadeIn 0.6s ease;
    overflow-x: hidden;
    margin-bottom: var(--space-lg);
  }

  @media (max-width: 576px) {
    .navigation-tabs {
      ul {
        display: inline-flex;
        width: 100%;

        li {
          width: calc(50% - 24px);
          margin-right: var(--space-md);
          margin-bottom: var(--space-sm);

          &:first-child {
            width: 100%;
          }
        }
      }
    }
  }
}