-
	let database = {
		"web" : {
			"fullName" : "Web design",
			"data": [
				{
					"title":			"BigIn Design System",
					"website":			"",
					"image":			"assets/images/projects/web/bds.jpg",
					"src":				"assets/images/projects/web/bds.jpg",
					"featured":			true,
					"external":			true,
					"externalURL":		"https://swanky-sunflower-2b5.notion.site/BigIn-Design-System-c2a821fb51fa44b1a379e7504692fc98",
					"guideText":		"Show case",
				},
				{
					"title":			"Citigym - Hệ thống phòng tập đẳng cấp",
					"website":			"https://citigym.com.vn",
					"image":			"assets/images/projects/web/citigym.jpg",
					"src":				"assets/images/projects/web/full/citigym.jpg",
				},
				{
					"title":			"Ayaka - Tả dành cho em bé đến Nhật bản",
					"website":			"https://ayakadiaper.com",
					"image":			"assets/images/projects/web/ayaka.jpg",
					"src":				"assets/images/projects/web/full/ayaka.jpg",
				},
				{
					"title":			"Parimilk - Dinh dưỡng cao cấp cho mọi lứa tuổi",
					"website":			"https://www.parimilk.com",
					"image":			"assets/images/projects/web/parimilk.jpg",
					"src":				"assets/images/projects/web/full/parimilk.jpg",
				},
				{
					"title":			"IFoss",
					"website":			"http://ifoss.com/",
					"image":			"assets/images/projects/web/ifoss.jpg",
					"src":				"assets/images/projects/web/full/ifoss.jpg",
				},
				{
					"title":			"Chợ hoa tươi - Sàng bán hoa sỉ",
					"website":			"http://chohoatuoi.vn",
					"image":			"assets/images/projects/web/chohoatuoi.jpg",
					"src":				"assets/images/projects/web/full/chohoatuoi.jpg",
				},
				{
					"title":			"007 Flower - Bán hoa trực tuyến",
					"website":			"http://007flower.com",
					"image":			"assets/images/projects/web/007-flower.jpg",
					"src":				"assets/images/projects/web/full/007-flower.jpg",
				},
				{
					"title":			"Khatoco Event",
					"website":			"https://thoitrangkhatoco.vn",
					"image":			"assets/images/projects/web/khatoco-event.jpg",
					"src":				"assets/images/projects/web/full/khatoco-event.jpg",
				},
				{
					"title":			"Last Shoes",
					"website":			"http://lastshoes.com.au",
					"image":			"assets/images/projects/web/last-shoes.jpg",
					"src":				"assets/images/projects/web/full/last-shoes.jpg",
				},
				{
					"title":			"Mango App",
					"website":			"http://mangoapp.vn",
					"image":			"assets/images/projects/web/mango.jpg",
					"src":				"assets/images/projects/web/full/mango.jpg",
				},
				{
					"title":			"Getraco",
					"website":			"",
					"image":			"assets/images/projects/web/getraco.jpg",
					"src":				"assets/images/projects/web/full/getraco.jpg",
				}
			]
		},
		"mobile" : {
			"fullName" : "Mobile app",
			"data": [
				{
					"title":			"Relo Moving",
					"website":			"",
					//- "website":			"https://agoyu.com/",
					"image":			"assets/images/projects/mobile/agoyu-app.jpg",
					"src":				"assets/images/projects/mobile/agoyu-app.jpg",
					"featured":			true,
					"external":			true,
					//- "externalURL":		"https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049",
					"externalURL":		"https://swanky-sunflower-2b5.notion.site/Relo-Mobile-b25ec2c7e9f0459496f57d7d8f36e2d4",
					"guideText":		"Show case"
				},
				{
					"title":			"Mango App",
					"website":			"",
					"image":			"assets/images/projects/mobile/mango-app.jpg",
					"src":				"assets/images/projects/mobile/full/mango-app.jpg"
				}
			]
		},
		"branding" : {
			"fullName" : "Branding",
			"data": [
				{
					"title":			"Nhà Ba Thu",
					"website":			"",
					"image":			"assets/images/projects/branding/bathu.jpg",
					"src":				"assets/images/projects/branding/bathu.jpg",
					//- "src":				"assets/images/projects/branding/full/bathu.jpg"
				},
				{
					"title":			"Molly Browns",
					"website":			"",
					"image":			"assets/images/projects/branding/molly-browns.jpg",
					"src":				"assets/images/projects/branding/molly-browns.jpg"
				},
				{
					"title":			"Last Shoes",
					"website":			"",
					"image":			"assets/images/projects/branding/last-shoes.jpg",
					"src":				"assets/images/projects/branding/last-shoes.jpg"
				},
				{
					"title":			"Lion",
					"website":			"",
					"image":			"assets/images/projects/branding/lion.jpg",
					"src":				"assets/images/projects/branding/lion.jpg"
				},
				{
					"title":			"Mango",
					"website":			"",
					"image":			"assets/images/projects/branding/mango.jpg",
					"src":				"assets/images/projects/branding/mango.jpg"
				},
				{
					"title":			"Long Việt Telecom",
					"website":			"",
					"image":			"assets/images/projects/branding/long-viet-telecom.jpg",
					"src":				"assets/images/projects/branding/long-viet-telecom.jpg"
				}
			]
		},
		"illustration" : {
			"fullName" : "Illustration",
			"data": [
				{
					"title":			"Deadline",
					"website":			"",
					"image":			"assets/images/projects/illustration/deadline.jpg",
					"src":				"assets/images/projects/illustration/full/deadline-full.jpg"
				},
				{
					"title":			"Saigon Never Sleep",
					"website":			"",
					"image":			"assets/images/projects/illustration/sg-nl.jpg",
					"src":				"assets/images/projects/illustration/sg-nl.jpg"
				},
				{
					"title":			"Designer Boy 1",
					"website":			"",
					"image":			"assets/images/projects/illustration/designer-boy-1.jpg",
					"src":				"assets/images/projects/illustration/full/designer-boy-1-full.jpg"
				},
				{
					"title":			"Designer Boy 2",
					"website":			"",
					"image":			"assets/images/projects/illustration/designer-boy-2.jpg",
					"src":				"assets/images/projects/illustration/full/designer-boy-2-full.jpg"
				}
			]
		}
	}