-
	let database = {
		"mobile" : {
			"fullName" : "Mobile app",
			"data": [
				{
					"title":			"Weepaz — Employee Experience Enhancement",
					"website":			"",
					//- "website":			"https://agoyu.com/",
					"image":			"assets/images/projects/mobile/weepaz.jpg",
					"src":				"assets/images/projects/mobile/weepaz.jpg",
					"featured":			true,
					"external":			true,
					//- "externalURL":		"https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049",
					//- "externalURL":		"https://tgt95.notion.site/Weepaz-Employee-Experience-Enhancement-6ecb814445ff41d8bd0c7c0de3104e64",
					"externalURL":		"https://tgt95.notion.site/Weepaz-Employee-Experience-Enhancement-V2-c64fc0c464934614805bad1f3e96f844?pvs=4",
					"guideText":		"Show case"
				},
				{
					"title":			"🦄 MoMo — Improved payment speed of Pay QR feature",
					"website":			"",
					//- "website":			"https://agoyu.com/",
					"image":			"assets/images/projects/mobile/momo.jpg",
					"src":				"assets/images/projects/mobile/momo.jpg",
					"featured":			true,
					"external":			true,
					//- "externalURL":		"https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049",
					"externalURL":		"https://tgt95.notion.site/MoMo-M-QR-Improvement-c48d1dc97a3a4568b3b24f763f0e20a4",
					"guideText":		"Show case"
				},
				{
					"title":			"Relo Moving — Use Artificial Intelligence to recognize and list every item in the video and the weight",
					"website":			"",
					//- "website":			"https://agoyu.com/",
					"image":			"assets/images/projects/mobile/agoyu-app.jpg",
					"src":				"assets/images/projects/mobile/agoyu-app.jpg",
					"featured":			false,
					"external":			true,
					//- "externalURL":		"https://www.notion.so/Agoyu-e6be289682ac43ebaf22cb9d9ffd2049",
					"externalURL":		"https://tgt95.notion.site/Relo-Moving-Mobile-app-b25ec2c7e9f0459496f57d7d8f36e2d4",
					"guideText":		"Show case"
				},
				{
					"title":			"Fresh & Deli — Food Ordering Application",
					//- "website":			"https://agoyu.com/",
					"image":			"assets/images/projects/mobile/freshndeli.jpg",
					"src":				"assets/images/projects/mobile/freshndeli.jpg",
					"featured":			false,
					"external":			true,
					"externalURL":		"https://www.behance.net/gallery/151350239/Food-Ordering-Application-UIUX",
					"guideText":		"Show case"
				},
				//- {
				//- 	"title":			"Mango App",
				//- 	"website":			"",
				//- 	"image":			"assets/images/projects/mobile/mango-app.jpg",
				//- 	"src":				"assets/images/projects/mobile/full/mango-app.jpg"
				//- }
			]
		},
		"webApp" : {
			"fullName" : "Web App",
			"data": [
				{
					"title":			"SkyPay — UX Challenge: Salary Payment by Cryptocurrencies",
					"website":			"",
					"image":			"assets/images/projects/web/skypay.jpg",
					"src":				"assets/images/projects/web/skypay.jpg",
					"featured":			true,
					"external":			true,
					"externalURL":		"https://tgt95.notion.site/SkyPay-UX-Challenge-Salary-Payment-by-Cryptocurrencies-1e21d774152f4918bfdf5d2c06564184?pvs=4",
					"guideText":		"Show case",
				},
			]
		},
		"marketingSite" : {
			"fullName" : "Marketing site",
			"data": [
				{
					"title":			"Citigym - Hệ thống phòng tập đẳng cấp",
					"website":			"https://citigym.com.vn",
					"image":			"assets/images/projects/web/citigym.jpg",
					"src":				"assets/images/projects/web/full/citigym.jpg",
				},
				{
					"title":			"BigIn Design System",
					"website":			"",
					"image":			"assets/images/projects/web/bds.jpg",
					"src":				"assets/images/projects/web/bds.jpg",
					"featured":			true,
					"external":			true,
					"externalURL":		"https://tgt95.notion.site/BigIn-Design-System-c2a821fb51fa44b1a379e7504692fc98",
					"guideText":		"Show case",
				},
				{
					"title":			"Ayaka — Tả dành cho em bé đến Nhật bản",
					"website":			"https://ayakadiaper.com",
					"image":			"assets/images/projects/web/ayaka.jpg",
					"src":				"assets/images/projects/web/full/ayaka.jpg",
				},
				{
					"title":			"Parimilk — Dinh dưỡng cao cấp cho mọi lứa tuổi",
					"website":			"https://www.parimilk.com",
					"image":			"assets/images/projects/web/parimilk.jpg",
					"src":				"assets/images/projects/web/full/parimilk.jpg",
				},
				//- {
				//- 	"title":			"IFoss",
				//- 	"website":			"http://ifoss.com/",
				//- 	"image":			"assets/images/projects/web/ifoss.jpg",
				//- 	"src":				"assets/images/projects/web/full/ifoss.jpg",
				//- },
				//- {
				//- 	"title":			"Chợ hoa tươi - Sàng bán hoa sỉ",
				//- 	"website":			"http://chohoatuoi.vn",
				//- 	"image":			"assets/images/projects/web/chohoatuoi.jpg",
				//- 	"src":				"assets/images/projects/web/full/chohoatuoi.jpg",
				//- },
				//- {
				//- 	"title":			"007 Flower - Bán hoa trực tuyến",
				//- 	"website":			"http://007flower.com",
				//- 	"image":			"assets/images/projects/web/007-flower.jpg",
				//- 	"src":				"assets/images/projects/web/full/007-flower.jpg",
				//- },
				//- {
				//- 	"title":			"Khatoco Event",
				//- 	"website":			"https://thoitrangkhatoco.vn",
				//- 	"image":			"assets/images/projects/web/khatoco-event.jpg",
				//- 	"src":				"assets/images/projects/web/full/khatoco-event.jpg",
				//- },
				//- {
				//- 	"title":			"Last Shoes",
				//- 	"website":			"http://lastshoes.com.au",
				//- 	"image":			"assets/images/projects/web/last-shoes.jpg",
				//- 	"src":				"assets/images/projects/web/full/last-shoes.jpg",
				//- },
				//- {
				//- 	"title":			"Mango App",
				//- 	"website":			"http://mangoapp.vn",
				//- 	"image":			"assets/images/projects/web/mango.jpg",
				//- 	"src":				"assets/images/projects/web/full/mango.jpg",
				//- },
				//- {
				//- 	"title":			"Getraco",
				//- 	"website":			"",
				//- 	"image":			"assets/images/projects/web/getraco.jpg",
				//- 	"src":				"assets/images/projects/web/full/getraco.jpg",
				//- }
			]
		},
		//- "branding" : {
		//- 	"fullName" : "Branding",
		//- 	"data": [
		//- 		{
		//- 			"title":			"Nhà Ba Thu",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/bathu.jpg",
		//- 			"src":				"assets/images/projects/branding/bathu.jpg",
		//- 			//- "src":				"assets/images/projects/branding/full/bathu.jpg"
		//- 		},
		//- 		{
		//- 			"title":			"Molly Browns",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/molly-browns.jpg",
		//- 			"src":				"assets/images/projects/branding/molly-browns.jpg"
		//- 		},
		//- 		{
		//- 			"title":			"Last Shoes",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/last-shoes.jpg",
		//- 			"src":				"assets/images/projects/branding/last-shoes.jpg"
		//- 		},
		//- 		{
		//- 			"title":			"Lion",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/lion.jpg",
		//- 			"src":				"assets/images/projects/branding/lion.jpg"
		//- 		},
		//- 		{
		//- 			"title":			"Mango",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/mango.jpg",
		//- 			"src":				"assets/images/projects/branding/mango.jpg"
		//- 		},
		//- 		{
		//- 			"title":			"Long Việt Telecom",
		//- 			"website":			"",
		//- 			"image":			"assets/images/projects/branding/long-viet-telecom.jpg",
		//- 			"src":				"assets/images/projects/branding/long-viet-telecom.jpg"
		//- 		}
		//- 	]
		//- },
		"illustration" : {
			"fullName" : "Illustration",
			"data": [
				{
					"title":			"Full Stack Designer",
					"website":			"https://www.behance.net/gallery/141523831/Full-Stack-Designer-Vector-flat-illustrations",
					"image":			"assets/images/projects/illustration/designer-boy.jpg",
					"src":				"assets/images/projects/illustration/full/designer-boy-full.jpg",
					"featured":			false,
					"external":			true,
					"externalURL":		"https://www.behance.net/gallery/141523831/Full-Stack-Designer-Vector-flat-illustrations",
					"guideText":		"Show case"
				},
				{
					"title":			"Deadline",
					"website":			"",
					"image":			"assets/images/projects/illustration/deadline.jpg",
					"src":				"assets/images/projects/illustration/full/deadline-full.jpg"
				},
				//- {
				//- 	"title":			"Saigon Never Sleep",
				//- 	"website":			"",
				//- 	"image":			"assets/images/projects/illustration/sg-nl.jpg",
				//- 	"src":				"assets/images/projects/illustration/sg-nl.jpg"
				//- }
				//- {
				//- 	"title":			"Designer Boy 1",
				//- 	"website":			"",
				//- 	"image":			"assets/images/projects/illustration/designer-boy-1.jpg",
				//- 	"src":				"assets/images/projects/illustration/full/designer-boy-1-full.jpg"
				//- },
				//- {
				//- 	"title":			"Designer Boy 2",
				//- 	"website":			"",
				//- 	"image":			"assets/images/projects/illustration/designer-boy-2.jpg",
				//- 	"src":				"assets/images/projects/illustration/full/designer-boy-2-full.jpg"
				//- }
			]
		}
	}