include functions.pug
include database.pug

block custom
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name='theme-color', content='#ea5d5d' media="(prefers-color-scheme: light)")
		meta(name='theme-color', content='#ea5d5d' media="(prefers-color-scheme: dark)")
		//- embed(src="[MR-Inst]-Surfaces-Good-Day.mp3" autostart="true" loop="true" hidden="true" id="#bg-music")

		block meta-title
		
		//- Default image when paste social link
		meta(property="og:image" content="assets/images/og-image.jpg")
		meta(property="og:image:type" content="image/png")
		meta(property="og:image:width" content="1024")
		meta(property="og:image:height" content="1024")
		//- Favicon
		link(rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon_io/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon_io/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon_io/favicon-16x16.png")
		link(rel="manifest" href="assets/images/favicon_io/site.webmanifest")
		


		//- Bootstrap
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-grid.min.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-reboot.min.css")

		//- Animate CSS
		link(rel="stylesheet" type="text/css" href="assets/plugins/animate.css/animate.min.css")

		//- Icons
		link(rel="stylesheet" type="text/css" href="assets/plugins/remixicon/fonts/remixicon.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick-theme.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick.css")

		block page-css
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-79549330-2")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-79549330-2');
			
	body(style="display: none; background-color: var(--brand);")
		// Header
		include section/header.pug
		block content
		
		// Footer
		include section/footer.pug

		include layout/modal.pug

// Javascript
//- script(src="assets/plugins/jquery/dist/jquery.min.js")
//- script(src="assets/plugins/popper.js/dist/umd/popper.min.js")
//- script(src="assets/plugins/bootstrap/dist/js/bootstrap.min.js")

//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
//- script(src="assets/plugins/wowjs/dist/wow.min.js")
//- script(src="assets/plugins/metismenu/dist/metisMenu.min.js")

//- Velocity
script(src="assets/plugins/velocity-animate/velocity.min.js")
//- script(src="assets/plugins/velocity-animate/velocity.ui.min.js")

//- Type writter
script(src="assets/plugins/typewriter-effect/dist/core.js")

//- Snap
script(src="assets/plugins/snapsvg/dist/snap.svg-min.js")

block page-script

script(src="assets/js/style.min.js")
//- script(src="src/js/main.js")

script.
	//- Your Master script

block script
