//- <?php ini_set('display_errors', 1); ?>

include var.pug

block custom
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		//- embed(src="[MR-Inst]-Surfaces-Good-Day.mp3" autostart="true" loop="true" hidden="true" id="#bg-music")

		block meta-title
		
		//- CSS
		link(rel="shortcut icon" href="assets/images/logo.png")
		//- Bootstrap
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-grid.min.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/dist/css/bootstrap-reboot.min.css")

		//- Animate CSS
		link(rel="stylesheet" type="text/css" href="assets/plugins/animate.css/animate.min.css")

		//- Swiper
		link(rel="stylesheet" type="text/css" href="assets/plugins/swiper/css/swiper.min.css")

		//- Icons
		link(rel="stylesheet" type="text/css" href="assets/plugins/remixicon/fonts/remixicon.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick-theme.css")
		//- link(rel="stylesheet" type="text/css" href="assets/plugins/slick-carousel/slick/slick.css")

		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/photoswipe.css")
		link(rel="stylesheet" type="text/css" href="assets/plugins/photoswipe/dist/default-skin/default-skin.css")

		block page-script
		link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")

		// Global site tag (gtag.js) - Google Analytics
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-79549330-2")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'UA-79549330-2');
			
	body
		// Header
		include section/header.pug
		block content
		
		// Footer
		include section/footer.pug

		include layout/modal.pug

		//- Loading
		//- .page-loader
		//- 	div
		//- 		img(src="assets/images/logo.svg", alt="TGT Logo").logo-img

// Javascript
script(src="assets/plugins/jquery/dist/jquery.min.js")
script(src="assets/plugins/popper.js/dist/umd/popper.min.js")
script(src="assets/plugins/bootstrap/dist/js/bootstrap.min.js")

//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
//- script(src="assets/plugins/wowjs/dist/wow.min.js")
//- script(src="assets/plugins/metismenu/dist/metisMenu.min.js")

script(src="assets/plugins/photoswipe/dist/photoswipe.min.js")
script(src="assets/plugins/photoswipe/dist/photoswipe-ui-default.min.js")

script(src="assets/plugins/velocity-animate/velocity.min.js")
script(src="assets/plugins/velocity-animate/velocity.ui.min.js")

script(src="assets/plugins/snapsvg/dist/snap.svg-min.js")

script(src="assets/plugins/swiper/js/swiper.min.js")


block page-script

script(src="assets/js/style.min.js")
script.
	let theme = new Theme();
	document.addEventListener('DOMContentLoaded', (e)=> {
		theme.init();
	});
block script
