@mixin flex-center($default: flex) {
  display: $default;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-y-between($default: flex) {
  display: $default;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-y($default: flex) {
  display: $default;
  align-items: center;
}

@mixin flex-center-x($default: flex) {
  display: $default;
  justify-content: center;
}
